@import "../../public/css/colors.scss";
@import "../../public/css/mixins.scss";

.error {
	@include flex(row, null, center);
	height: 3rem;
	background: $pink-100;
	opacity: 0.6;
	margin-bottom: 1.1rem;
	text-align: center;

	p {
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;
		line-height: 1.5rem;
		margin: auto 0;
		padding-left: 1rem;
		color: $wine-100;
	}
}
