@import "../../public/css/colors.scss";
@import "../../public/css/mixins.scss";

.select {
	.customStyles {
	}
	.label {
		// font-family: Inter;
		// font-style: normal;
		// font-weight: 400;
		// font-size: 0.8rem;
		// line-height: 1rem;
		// color: $base-gray;
		// margin-bottom: 0.5rem;

		font-size: 0.875rem;
		line-height: 10px;
		color: $gray-200;
	}
	.selectOptions {
		border-radius: 0.5rem;
		width: 100%;
		height: 100%;
		color: $base-gray;
		font-size: 0.75rem;
		line-height: 1.125rem;

		.select__control {
			min-height: 0;
			max-height: 2.7rem;
		}

		.select__placeholder,
		.select__single-value {
			color: $base-white;
			font-size: 0.857rem;
		}
	}
}
