@use "public/css/colors";
@use "public/css/mixins";
@use "public/css/screens";

.kreator__socials {
  @include mixins.flex(row, flex-start, center);
  flex-wrap: wrap;
  gap: 5px 10px;
  flex: 0 0 310px;

  span {
    font-size: 14px;
    color: colors.$base-gray;
  }

  div {
    @include mixins.flex(row, space-between, center);
    column-gap: 15px;
  }

  a {
    color: colors.$black-100;

    > svg {
      font-size: 21px;
    }
  }
}

@include screens.minScreen("medium") {
  .kreator__socials {
    justify-content: center;
  }
}

@include screens.minScreen("tablet") {
  .kreator__socials {
    flex-wrap: nowrap;
  }
}
