@use 'public/css/colors';

.tag {
	padding: 4px 15px;
	border-radius: 8px;
	font-size: 16px;
}

.green {
	color: colors.$base-green-100;
	background-color: colors.$base-green-300;
}

.orange {
	color: #fbb500;
	background-color: rgba(255, 214, 102, 0.3);
}

.red {
	color: #f90005;
	background: rgba(255, 77, 79, 0.1);
}

.default {
	color: colors.$gray-200;
	background-color: colors.$white-200;
}
