@import "../../../public/css/colors.scss";
@import "../../../public/css/mixins.scss";
@import "../../../public/css/screens.scss";


.container{
    margin-bottom: 30px;
    .title{
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        color: #262626;
    }
    .description{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #595959;
    }

    ol{
        list-style-type: decimal;
    }
    ul{
        list-style-type: disc;
    }
    ul,ol{
        list-style-position: outside;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 1em;
        li{
            margin-bottom: 2px;
            gap: 5px;
            .itm{
                margin-bottom: 0;
            }
        }
    }
}