
.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .logo_wrapper {
        height: 70px;
        padding: 15px 29px 15px 48px;
        position: relative;
    }
   
}


@media only screen and (max-width: 600px){

.sidebar{
    display:none;
}

}