@import "../../public/css/mixins.scss";
@import "../../public/css/colors.scss";
@import "../../public/css/screens.scss";

.ticketsContainer {
  margin-top: 12px;
  .ticketsTopSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ticketsTopSectionInner {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12rem;
  height: 7rem;
  background-color: $black-100;
  opacity: 0.8;
  box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.3);
  border-radius: 8px;
  color: $base-white;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1000;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.action {
  min-height: 25vh;
  width: 8rem;
  background: $base-white;
  border-radius: 0.5rem;
  color: $base-white;
  margin-top: 0.7rem;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.3);

  ::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 18%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }

  @include screen("medium") {
    right: 2%;

    ::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 90%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent blwhitee transparent;
    }
  }

  ul {
    li {
      height: 44px;
      border-bottom: 0.5px solid $gray-100;
      padding-left: 0.8rem;
      padding-right: 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: $gray-200;

      &:last-child {
        border-bottom: none;
      }

      p {
        padding-top: 0.4rem;
        padding-left: 0.5rem;
      }
    }
  }
}

.modalContainer {
  width: 312px;
  border-radius: 0.5rem;
}

.modalPrompt {
  color: red;
  text-align: center;

  .cancelBtn {
    border: 1px solid $gray-200;
    color: $base-gray;
    margin-right: 1rem;
    font-weight: 500;
  }

  .deleteBtn {
    color: $base-white;
    font-weight: 500;
    border: none;
    background: #ff7875;
    text-transform: capitalize;
  }
}

.label {
  font-size: 0.875rem;
  line-height: 10px;
  color: $gray-200;
  margin: 0;
  padding: 0;
  padding-right: 0.75rem;

  @include screen("tablet") {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
}
