@use "public/css/colors";
@use "public/css/mixins";

.header {
  margin-bottom: 35px;
  @include mixins.flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 10px;

  h2 {
    margin-bottom: 0;
  }

  button {
    border-radius: 8px;
  }
}

.download {
  margin-bottom: 5px;
}

.csv__btn {
  text-align: right;

  > button[class^="ant-btn"] {
    color: colors.$base-blue;
    font-weight: bold;
    font-size: 12px;
  }
}

.table__section {
  + section {
    text-align: center;

    p {
      margin-bottom: 20px;
    }

    span[class="ant-typography"] {
      font-weight: 500;
      font-size: 16px;
      color: colors.$base-gray;
    }

    a {
      display: inline-block;
      height: auto;
      padding: 14px 16px;
      border-radius: 8px;
      background-color: colors.$base-blue;
      color: colors.$base-white;
      font-weight: bold;
      font-size: 16px;
    }
  }

  [class="ant-table-content"] {
    overflow-x: auto;
    margin-bottom: 30px;
  }
}
