@use 'public/css/colors';
@use 'public/css/mixins';
@use 'public/css/screens';

.header {
	margin-bottom: 35px;
	@include mixins.flex(row, space-between, center);
	flex-wrap: wrap;
	gap: 10px;

	h2 {
		margin-bottom: 0;
	}

	button {
		border-radius: 8px;
	}
}

.spin__wrapper section:last-child {
	margin-bottom: 70px;
}

.data__section + section {
	margin-top: 40px;

	ul {
		@include mixins.flex(row, flex-end, center);
	}
}

.table__wrapper {
	display: none;
}

.payout__set-up {
	text-align: center;
	margin-bottom: 100px;

	p {
		margin-bottom: 20px;
	}

	span[class='ant-typography'] {
		font-weight: 500;
		font-size: 16px;
		color: colors.$base-gray;
	}

	a {
		display: inline-block;
		height: auto;
		padding: 14px 16px;
		border-radius: 8px;
		background-color: colors.$base-blue;
		color: colors.$base-white;
		font-weight: bold;
		font-size: 16px;
	}
}

@include screens.minScreen('x-large') {
	.data__section {
		ul,
		div[class*='no__data'] {
			display: none;
		}

		& + section ul {
			justify-content: flex-start;
		}
	}

	.table__wrapper {
		display: block;

		[class='ant-table-content'] {
			overflow-x: auto;
		}
	}
}
