@use "public/css/mixins";

.sold {
  font-weight: bold;
  color: #0072ef;
}

.visit {
  font-weight: bold;
  color: #00b140;
}

.request__link > a {
  font-size: 12px;
  font-weight: bold;
  color: #0072ef;
  width: 134px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #0072ef;

  svg {
    display: inline;
    font-size: 14px;
  }
}
