@use "public/css/colors";

.request__link > a {
  font-size: 12px;
  font-weight: 700;
  color: colors.$base-blue;
  width: 134px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid colors.$base-blue;

  &[disabled] {
    border-color: #bfbfbf;
    color: #bfbfbf;
  }

  svg {
    display: inline;
    font-size: 14px;
  }
}
