@use "public/css/mixins";

.product__image {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.empty__image__Banner {
  @include mixins.flex(row, center, center);
  height: calc(100vw - 40px);
  max-height: 600px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  svg {
    font-size: 40px;
    color: #808080;
  }
}
