@use "public/css/colors";
@use "public/css/screens";

.success__modal span[class="ant-modal-close-x"] > span[class^="anticon"] > svg {
  font-size: 32px;
}

.header {
  margin: 40px 0 20px;

  > div {
    width: 80px;
    margin: 0 auto;
  }
}

.content {
  margin-bottom: 40px;

  p {
    margin-bottom: 0;
    text-align: center;

    &:first-child [class="ant-typography"] {
      font-weight: 600;
      font-size: 30px;
      color: colors.$black-100;
    }

    &:last-child [class="ant-typography"] {
      font-weight: 400;
      font-size: 16px;
      color: colors.$gray-200;
    }
  }
}

.footer {
  text-align: center;

  > button {
    font-weight: bold;
    font-size: 14px;
    color: colors.$base-white;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@include screens.minScreen("medium-large") {
  .success__modal div[class="ant-modal-body"] {
    padding: 90px;
  }
}
