@import "../../styles//colors.scss";

.container {
	margin-top: 2rem;
}

.footer {
	font-size: 0.8rem;
	line-height: 26px;
	color: $base-gray;
	margin-top: 1.25rem;

	a {
		text-decoration: none;
		color: $base-blue;
		font-weight: 400;
	}
}
