@import "../../public/css/colors.scss";
@import "../../public/css/mixins.scss";
@import "../../public/css/screens.scss";

.label{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #262626;

    span{
        color:#8C8C8C;
    }
}

.subtext{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-block-end: 10px;
}



.input{
    border-radius: 10px;
    margin-block-end: 20px;
}

.telInput{
    margin: inherit;
}

.error{
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #F90005;
}

.container{
    margin-block: 20px;
    .inputV2Container{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #F5F5F5;
        text-align: left;
        position: relative;
        padding-inline: 10px;

        .container{
            margin-bottom: 0px !important;
        }
        p{
            flex: 1;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #595959;
            margin-bottom: 0 !important;
        }
        .inputV2FormItem{
            flex: 3.5;
        margin-bottom: 0px !important;
            
        }
        .inputV2{
            margin-bottom: 0px !important;
            // width: 75%;
        }
    }
}

.dragger_wrapper{
    text-align: left;
    margin:20px 0;
    position: relative;
    .deleteContainer{
        position: absolute;
        background: #fff;
        border-radius: 5px;
        height: 35px;
        width: 35px;
        top: 50px;
        right: 20px;
        z-index: 10;
        display: grid;
        place-content: center;
        cursor: pointer;
        .icon{
            font-size: 25px;
            color: red;
        }
    }
    .dragger{
        border: 1px dashed #0072EF !important;
        width: 100%;
        border-radius: 8px;
        margin-top: 10px;
    }
    .plain{
        border: none;
        width: 100%;
        margin-top: 10px;
    }
    .label{
        line-height: 22px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #262626;
    }
}
.dragger_wrapperV2{
    text-align: left;
    margin:20px 0 10px 0;
    // width: 60%;
    position: relative;
      @include screen("x-large") {
        width: 100%;
      }
    .deleteContainer{
        position: absolute;
        background: #fff;
        border-radius: 5px;
        height: 35px;
        width: 35px;
        top: 50px;
        right: 20px;
        z-index: 10;
        display: grid;
        place-content: center;
        cursor: pointer;
        .icon{
            font-size: 25px;
            color: red;
        }
    }
    .dragger{
        border: 1px dashed #0072EF !important;
        width: 100%;
        border-radius: 8px;
        margin-top: 10px;
    }
    .plain{
        border: none;
        width: 100%;
        margin-top: 10px;
    }
    .label{
        line-height: 22px;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #262626;
        display: inline-block;
    }
}
.dragger_wrapperV3{
    display: flex;
    gap: 10px;
    align-items: center;
    .plain{
        height:fit-content !important;
    }
}

.otheFileDescription{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(199, 199, 199);
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
    .fileName{
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        text-transform: capitalize;
    }
}

// buttons
.btn{
    height: 36px;
    border-radius: 8px;
    min-width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.danger{
    border: 1px solid #FF4D4F !important;
    color: #FF4D4F !important;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    &:hover{
        opacity: .4;
    }
}
.dullFilled{
    border: none;
    color: #8C8C8C;;
    background: #F5F5F5;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    &:hover{
        opacity: .4;
    }
}

// button ends here

.popOverDescription{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #8C8C8C;

}



.popOverButtonContainer{
    display: flex !important;
    gap: 5px !important;
}

.popOverTriggerButtonContainer{
    white-space:"nowrap";
    overflow:"hidden";
    text-overflow:"ellipsis"; 
    display:"flex";
}

// select drop down
.select{
    display: flex; 
    align-items:center !important; 
    gap:5px !important;
    img{
        border-radius: 5px;
    }
}