.notes__btn {
  width: 18px;
  padding: 5px;
  border: none;
  border-radius: 0 !important;
  box-shadow: none;
  background-color: transparent;
  align-items: flex-start !important;

  &:hover {
    background-color: transparent;
  }
}
