@use "screens.scss";

.header {
  margin-bottom: 50px;
}

.content {
  margin-bottom: 70px;
}

.card {
  border-radius: 8px;

  > div[class="ant-card-body"] {
    padding: 80px 60px;

    > div[class$="ql-snow"] {
      border: none;
    }

    div[class="ql-editor"] {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

@include screens.screen("medium-large") {
  .card {
    background-color: transparent;

    > div[class="ant-card-body"] {
      padding: 0;
    }
  }
}
