@use "colors";
@use "screens";

.back__btn {
  margin-bottom: 20px;
}

.header,
.title {
  text-align: center;
  margin-bottom: 30px;
}

.header > h1,
.title > h2 {
  font-weight: 600;
  font-size: 24px;
  color: colors.$black-100;
}

.header > span[class="ant-typography"],
.title > span[class="ant-typography"] {
  font-weight: 500;
  font-size: 16px;
  color: colors.$gray-200;
}

.card__container {
  border-radius: 8px;
  margin-bottom: 100px;
}

.container {
  max-width: 790px;
  margin: 0 auto 150px;
}

.content {
  margin-bottom: 40px;

  p {
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: colors.$black-100;
  }
}

@include screens.minScreen("tablet") {
  .card__container > div[class="ant-card-body"] {
    padding: 68px 50px;
  }
}
