@use "colors";
@use "mixins";
@use "screens";

.header {
  margin-bottom: 40px;
  @include mixins.flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 15px 25px;

  > div {
    flex: 1 1 254px;

    h1 {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 600;
      color: colors.$black-100;
    }

    p {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 16px;
      color: colors.$gray-200;
    }
  }

  > a {
    display: inline-flex;
    padding: 13px 23px;
    background-color: colors.$base-blue;
    border-radius: 8px;
    color: colors.$base-white;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
  }

  svg {
    display: inline;
    font-size: 14px;
  }
}

.card__wrapper {
  border-radius: 8px;
  margin: 0 auto 85px;

  div[class="ant-card-body"] {
    padding: 24px;
  }
}

.tabs {
  div[class="ant-tabs-nav"] {
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: colors.$base-white;

    &::before {
      border: none;
    }

    div[class^="ant-tabs-ink-bar"]:last-child {
      height: 4px;
    }
  }

  div[class="ant-tabs-tab-btn"] {
    color: colors.$base-gray;
    font: {
      weight: 500;
      size: 16px;
    }
  }

  div[class$="ant-tabs-tab-active"] div[class="ant-tabs-tab-btn"] {
    color: colors.$base-blue;
  }
}

@include screens.screen("x-large") {
  .tabs {
    div[class="ant-tabs-nav"] {
      padding-left: 7px;
      padding-right: 7px;

      div[class="ant-tabs-nav-wrap"]:first-child {
        justify-content: flex-start;
      }
    }

    div[class="ant-tabs-tab"] + div[class="ant-tabs-tab"],
    div[class="ant-tabs-tab ant-tabs-tab-active"] + div[class="ant-tabs-tab"],
    div[class="ant-tabs-tab"] + div[class="ant-tabs-tab ant-tabs-tab-active"] {
      margin-left: 5px;
    }

    div[class="ant-tabs-tab-btn"] {
      padding: 8px;
      border-radius: 8px;
      background-color: colors.$white-200;
    }

    div[class$="ant-tabs-tab-active"] div[class="ant-tabs-tab-btn"] {
      background-color: colors.$blue-100;
    }
  }
}

@include screens.minScreen("tablet") {
  .card__wrapper > div[class="ant-card-body"] {
    padding: 40px 60px;
  }
}

@include screens.minScreen("x-large") {
  .header > div h1 {
    font-size: 24px;
  }
}
