@import "./colors.scss";
@import "./mixins.scss";
@import "./screens.scss";

.aboutUsContainer {
  width: 100%;
  margin: 6rem 0;

  //   border: 1px solid red;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/partial-general-bg.svg");

  .body {
    max-width: 1240px;
    margin: 0 auto;
  }
  .imageBox {
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    gap: 10.78px;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    // padding: 1px 25.9px 1px 39.05px;
    .merge {
      position: relative;
      width: 100%;
      height: 100%;
      //   border: 1px solid green;
      .blueBox {
        position: absolute;
        top: -20px;
        left: -10px;
        width: 100%;
        height: 100%;
        + div {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    @media (min-width: 614px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      max-width: 900px;
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .mainAbout {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    .storyBox {
      width: unset;
      text-align: left;
    }

    .mainAboutLg {
      display: none;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      // align-items: center;
      .storyBox {
        width: 50%;
      }

      .merge {
        width: 50%;
        + div {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      justify-content: center;
      align-items: center;
      margin-top: 112px;
      .storyBox {
        // border: 1px solid red;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
        background: #ffffff;
        width: 100%;
        text-align: justify;
        padding: 33px 120px 40px 60px;
        box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
      }

      .mainAboutLg {
        display: block;
        position: relative;
        right: 80px;
      }

      .merge {
        display: none;
      }
    }
  }

  .mobile {
    margin-top: 2rem;
    padding: 1px 25.9px 1px 25.9px;
    @media (min-width: 768px) {
      width: 50%;

      //   flex: 0.1;
      //   border: 1px solid red;
    }
  }

  .storyBox {
    padding: 30px;
    .heading {
      font-weight: 700;
      font-size: 28px;
      line-height: 40px;

      @media (min-width: 768px) {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
      }
    }

    .storyTexts {
      font-weight: 400;
      font-size: 18px;
      line-height: 34px;
      @media (min-width: 768px) {
        line-height: 28px;
      }
    }

    @media (min-width: 768px) {
      //   flex: 0.2;
      width: 50%;
    }
  }

  .mainBanner {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
  }

  .missionAndVision {
    padding: 2rem;
    .cardMain {
      margin-bottom: 72px;
      .mavBox {
        > div {
          width: 100%;
          object-fit: contain;
          text-align: center;
        }
      }

      .card {
        background: #ffffff;
        position: relative;
        top: -20px;
        padding: 20px 24px;
        box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
        border-radius: 8px;
        .heading {
          font-weight: 700;
          font-size: 28px;
          line-height: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .title {
            margin-left: 24px;
          }
        }

        img {
          width: 40px !important;
          height: 40px !important;
        }

        @media (min-width: 768px) {
          top: 0px;
        }
      }
      @media (min-width: 768px) {
        margin-bottom: unset;
        min-height: 568px;
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
    @media (min-width: 768px) {
      padding: 1rem 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media (min-width: 800px) {
      .onMobile {
        display: none;
      }
    }
    @media (min-width: 1200px) {
      padding: 3rem 10.31rem;
    }
  }
}
