@use 'colors';
@use 'mixins';
@use 'screens';

.kreator {
	margin-bottom: 40px;
	padding: 30px 10px;
	background-color: colors.$base-white;
	border-radius: 8px;
}

.kreator__banner {
	position: relative;
	height: 190px;
	margin-bottom: 15px;
	border-radius: 8px;
	overflow: hidden;
}

.empty__image__Banner {
	height: 190px;
	margin-bottom: 15px;
	@include mixins.flex(row, center, center);
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 8px;

	svg {
		font-size: 40px;
		color: #808080;
	}
}

.kreator__info__container {
	margin-bottom: 20px;
}

.kreator__info {
	margin-bottom: 20px;
	@include mixins.flex(row, flex-start, center);
	column-gap: 15px;
}

.kreator__image {
	flex-shrink: 0;
	position: relative;
	width: 66px;
	height: 66px;
	border: 2px solid colors.$base-white;
	border-radius: 8px;
	overflow: hidden;
}

.empty__avatar {
	flex-shrink: 0;
	width: 66px;
	height: 66px;
	border: 2px solid colors.$base-white;
	border-radius: 8px;
	@include mixins.flex(row, center, center);
	background-color: rgba(0, 0, 0, 0.05);

	svg {
		font-size: 20px;
		color: #808080;
	}
}

.kreator__details p {
	margin-bottom: 0;
	line-height: 1;

	&:first-child {
		margin-bottom: 10px;
		font-size: 18px;
		color: colors.$black-100;
	}

	&:last-child {
		font-size: 12px;
		color: colors.$black-100;
		word-break: break-word;
	}
}

.kreator__bio p {
	margin-bottom: 0;
	white-space: pre-wrap;
	font-size: 14px;
	color: colors.$gray-200;
}

.products {
	margin-bottom: 88px;
}

.no__products {
	text-align: center;
	font-size: 20px;
	color: colors.$black-100;
}

@include screens.minScreen('medium') {
	.kreator {
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
	}

	.kreator__banner,
	.empty__image__Banner {
		margin-bottom: 85px;
	}

	.kreator__info__container {
		margin-bottom: 30px;
	}

	.kreator__info {
		width: 75%;
		margin-bottom: 0;
		padding: 12px 16px;
		position: absolute;
		top: 180px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(18px);
		box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
		border-radius: 12px;
	}
}

@include screens.minScreen('tablet') {
	.kreator {
		padding: 0;
		border-radius: 0;
		background-color: transparent;
	}

	.kreator__banner,
	.empty__image__Banner {
		height: 300px;
	}

	.kreator__info__container {
		@include mixins.flex(row, flex-start, center);
		column-gap: 60px;
		width: 90%;
		max-width: 920px;
		padding: 12px 16px;
		margin-bottom: 0;
		position: absolute;
		top: 250px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(18px);
		box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
		border-radius: 12px;
	}

	.kreator__info {
		width: auto;
		padding: 0;
		position: static;
		transform: none;
		background-color: transparent;
		backdrop-filter: blur(0);
		box-shadow: none;
		border-radius: 0;
	}

	.kreator__image,
	.empty__avatar {
		width: 80px;
		height: 80px;
	}

	.kreator__bio {
		width: 90%;
		max-width: 920px;
		margin: 0 auto;

		p {
			line-height: 1.2;
		}
	}
}
