@import "../css//mixins.scss";
@import "../css//colors.scss";
@import "../css//screens.scss";

.allProduct {
	.addProductBtn {
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
	}
	.addCouponBtn1{
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
		width: 15%;
	}
	.addCouponBtn {
		line-height: 16px;
		font-weight: 600;
		width: 20%;
		padding: 1.2em 0.5em;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
		margin-top: 1em;
	}
}

.productTableImage{
	width: 100px;
	height: 100px;
	border-radius: 8px;

	img {
		border-radius: 8px;
	}
}
.productTableName {
	width: 200px;

	h2{
		word-wrap: break-word;
	}
	p:first-child{
		width: 56px;
		padding: 6px;
	}
}
.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 12rem;
	height: 7rem;
	background-color: $black-100;
	opacity: 0.8;
	box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.3);
	border-radius: 8px;
	color: $base-white;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	padding: 0.5rem;
	position: absolute;
	z-index: 1000;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.action {
	cursor: pointer;

	div{
		& > div:last-child{
			& > div:first-child{
				padding: 0;
			}
		}
	}
	ul {
		li {
			height: 44px;
			border-bottom: 0.5px solid $gray-100;
			padding-bottom: 0.5rem;
			padding-top: .5rem;
			display: flex;
			align-items: center;
			cursor: pointer;
			color: $gray-200;
			padding-left: 1em;

			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.popConfirm{
	div{
		& > div:last-child{
			div{
				padding: .8em;
				& > div:first-child{
					div{
						font-size: 16px;
						color: $gray-200;
					}
				}
				& > div:last-child{
					display: flex;
					justify-content: space-between;
					
					button{
						border-radius: 8px;
						padding: 1.3em 1em;
					}
					& >button:first-child{
						background-color: $white-200 !important;
						color: $gray-600;
						border: 2px solid  $white-200;
					}
					& >button:last-child{
						background-color: $base-white !important;
						color: $pink-100;
						border: 2px solid $pink-100;
					}
				}
			}
		}
	}
}
.modalContainer {
	width: 312px;
	border-radius: 0.5rem;
}

.modalPrompt {
	color: red;
	text-align: center;

	.cancelBtn {
		border: 1px solid $gray-200;
		color: $base-gray;
		margin-right: 1rem;
		font-weight: 500;
	}

	.deleteBtn {
		color: $base-white;
		font-weight: 500;
		border: none;
		background: #ff7875;
		text-transform: capitalize;
	}
}

.label {
	font-size: 0.875rem;
	line-height: 10px;
	color: $gray-200;
	margin: 0;
	padding: 0;
	padding-right: 0.75rem;

	@include screen("tablet") {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}
.tags{
	width: 86px;
	padding: 5px 8px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}
.lightGrey{
	color: $gray-200;
}
.emptyTable{
	min-height: 400px;
	justify-content: center;
	align-items: center;
}
.deletePop{
	& > span:first-child{
		display: flex;
		align-items: center;

		p{
			margin-left: 1rem;
		}
	}
}