@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.allProduct {
	.addProductBtn {
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
	}

	.addCouponBtn1 {
		line-height: 16px;
		min-width: 15%;
		font-weight: 700;
		font-size: 1rem;
		text-align: center;
		color: #ffffff;
		height: fit-content;
	}

	.addCouponBtn {
		line-height: 16px;
		font-weight: 600;
		min-width: 20%;
		width: fit-content;
		padding: 1.2em 0.5em;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
		margin-top: 1em;
	}

	.productMobile {
		width: 100%;
		min-height: 300px;

		// border: 1px solid red;
		.product {
			width: 100%;
			padding: 1.5rem 0.5rem;
			background: #ffffff;
			border-radius: 8px;

			.liveElipsis {
				span {
				}
			}

			.dateCategory {
				.date,
				.category {
					font-weight: 400;
					font-size: 0.9rem;
					line-height: 24px;
					color: #595959;

					@include screen('medium') {
						font-weight: 400;
						font-size: 0.8rem;
						line-height: 24px;
						color: #595959;
					}
				}

				span {
					color: #f0f0f0;
				}
			}

			.content {
				gap: 2rem;

				.image {
					width: 150px;
					height: 150px;
					border-radius: 8px;

					@include screen('medium') {
						width: 100px;
						height: 110px;
					}

					img {
						width: 100%;
						height: 150px;
						border-radius: 8px;

						@include screen('medium') {
							height: 110px;
						}
					}
				}

				.mainContent {
					flex: 3;

					h2 {
						font-weight: 500;
						font-size: 18px;
						line-height: 24px;
						color: #262626;
					}

					h5 {
						font-weight: 400;
						font-size: 1rem;
						line-height: 26px;
						color: #595959;
					}

					p {
						font-weight: 400;
						font-size: 0.75rem;
						line-height: 18px;
						// color: #595959;

						span {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

.productTableImage {
	width: 100px;
	height: 100px;
	border-radius: 8px;

	img {
		border-radius: 8px;
	}
}

.productTableName {
	width: 200px;

	h2 {
		word-wrap: break-word;
	}

	p:first-child {
		width: 56px;
		padding: 6px;
	}
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 12rem;
	height: 7rem;
	background-color: $black-100;
	opacity: 0.8;
	box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.3);
	border-radius: 8px;
	color: $base-white;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	padding: 0.5rem;
	position: absolute;
	z-index: 1000;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.action {
	cursor: pointer;

	div {
		& > div:last-child {
			& > div:first-child {
				padding: 0;
			}
		}
	}

	ul {
		li {
			height: 44px;
			border-bottom: 0.5px solid $gray-100;
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
			display: flex;
			align-items: center;
			cursor: pointer;
			color: $gray-200;
			padding-left: 1em;

			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.popConfirm {
	width: 250px;

	div {
		& > div:last-child {
			div {
				padding: 0.8em;

				& > div:first-child {
					div {
						font-size: 16px;
						color: $gray-200;

						pre {
							font-family: inherit;
							width: 100%;
							text-align: center;
						}
					}
				}

				& > div:last-child {
					display: flex;
					justify-content: space-between;

					button {
						border-radius: 8px;
						padding: 1.3em 1em;
					}

					& > button:first-child {
						background-color: $white-200 !important;
						color: $gray-600;
						border: 2px solid $white-200;
					}

					& > button:last-child {
						background-color: $base-white !important;
						color: $notification-bg;
						border: 2px solid $error-main;
					}
				}
			}
		}
	}
}

.modalContainer {
	width: 312px;
	border-radius: 0.5rem;
}

.modalPrompt {
	color: red;
	text-align: center;

	.cancelBtn {
		border: 1px solid $gray-200;
		color: $base-gray;
		margin-right: 1rem;
		font-weight: 500;
	}

	.deleteBtn {
		color: $base-white;
		font-weight: 500;
		border: none;
		background: #ff7875;
		text-transform: capitalize;
	}
}

.label {
	font-size: 0.875rem;
	line-height: 10px;
	color: $gray-200;
	margin: 0;
	padding: 0;
	padding-right: 0.75rem;

	@include screen('tablet') {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.tags {
	width: 86px;
	padding: 5px 8px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}

.lightGrey {
	color: $gray-200;

	@media (max-width: 768px) {
		display: none;
	}
}

.container {
	@media (max-width: 768px) {
		margin-right: unset;
	}
}

.export {
	@media (max-width: 768px) {
		align-self: flex-end;
		width: 100%;
		// border: 1px solid red;
	}
}

.emptyTable {
	min-height: 400px;
	justify-content: center;
	align-items: center;
}

.deletePop {
	& > span:first-child {
		display: flex;
		align-items: center;

		p {
			margin-left: 1rem;
		}
	}
}

.spanCont {
	span {
		height: 5px;
	}
}

.mobilePagination {
	// border: 1px solid red;
	margin-top: 2rem;

	@media (min-width: 768px) {
		display: none;
	}
}

.lgTable {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}

.smTable {
	display: none;

	@media (max-width: 768px) {
		display: block;
	}
}

.couponMobile {
	// border: 1px solid red;
	margin-bottom: 1rem;
	background-color: #fff;
	padding: 39px 39px 29px 32px;

	.couponTop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 26px;

		.couponStatus {
			&.Expired {
				color: #f90005;
				background-color: rgba(255, 77, 79, 0.1);
			}

			&.Pending {
				color: #fbb500;
				background-color: rgba(255, 214, 102, 0.2);
			}

			&.Finished {
				color: #f90005;
				background-color: rgba(255, 77, 79, 0.1);
			}

			&.Active {
				color: #2dc071;
				background-color: '#F1FCF8;';
			}
		}

		> div:first-child {
			// background: #f1fcf8;
			border-radius: 8px;
			padding: 0.5rem;
		}
	}

	.dateBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.dates {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;

		span {
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			/* identical to box height, or 171% */

			display: flex;
			align-items: center;
			text-align: center;

			/* Gray/gray-8 PRIMARY TEXT */

			color: #595959;
		}

		span.date {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			text-transform: capitalize;
			text-align: left;
			/* identical to box height, or 150% */
			background: #e6f7ff;
			padding: 4px 8px;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			/* PRIMARY */

			color: #0072ef;
		}

		.val {
			// border: 1px solid red;
			@media (max-width: 450px) {
				font-size: 11.5px;
				line-height: 20px;
			}
		}
	}

	.iconContainer {
		border: 1px solid #f5f5f5;
		padding: 0.2rem 0.5rem;
		margin-right: 1rem;
	}

	.itemName {
		margin: 16px 0;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 26px;
		/* identical to box height, or 162% */

		display: flex;
		align-items: center;

		/* Gray / gray-9 TITLE UI TEXT */

		color: #262626;
	}

	.details {
		div {
			padding: 6px 16px;

			// border: 1px solid green;
			.inner {
				display: flex;
				align-items: center;
				justify-content: space-between;
				max-width: 300px;
			}

			border-radius: 8px;

			> span {
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;

				& + span {
					font-weight: normal;
				}
			}

			&.shade {
				background: #f5f5f5;
			}
		}
	}
}

.modalContainer {
	text-align: center;

	.modalTitle {
		font-weight: 600;
		font-size: 24px;
		color: #262626;
		margin-bottom: 0px !important;
	}

	.modalSubtitle {
		font-weight: 600;
		font-size: 18px;
		line-height: 33px;
		color: #262626;
	}

	.subtitle {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #262626;
	}

	.view_guide {
		color: #0072ef;
		margin-top: 20px;
		font-weight: 500;
		font-size: 16px;
		cursor: pointer;
	}
	.action {
		font-weight: 400;
		font-size: 1rem;
		line-height: 26px;
		color: #ff4d4f;
		cursor: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}
	.number {
		font-weight: 500;
		font-size: 14px;
		line-height: 26px;
		color: #262626;
		margin-bottom: 0.3rem;
	}

	.container {
		width: 73%;
		margin: auto;
		text-align: left;
		.number {
			text-align: center;
		}
	}

	.selectDropdown {
		width: 100%;
	}
}

.copyInput {
	position: relative;
	width: 75%;
	margin: auto;
	input {
		// width: 100%;
		padding: 0.5rem !important;
		border: 2px solid $base-blue !important;
		font-weight: 400;
		font-size: 0.875rem;
		color: #0072ef;
	}
	span {
		width: 10%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background-color: $base-blue;
		border-radius: 0 8px 8px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $base-blue;
	}
}
.copyInput2 {
	position: relative;
	width: 100%;
	margin: auto;
	input {
		// width: 100%;
		padding: 0.5rem !important;
		border: 2px solid $base-blue !important;
		font-weight: 400;
		font-size: 0.875rem;
		color: #0072ef;
	}
	span {
		width: 10%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background-color: $base-blue;
		border-radius: 0 8px 8px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $base-blue;
	}
}
