@import "../css//mixins.scss";
@import "../css//colors.scss";

.allProduct {
	.addProductBtn {
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
	}
}

.productTooltip {
	position: relative;
	display: inline-block;

	.tooltipText {
		background: $base-white;
		visibility: hidden;
		border-radius: 0.5rem;
		text-align: center;
		padding-top: 0.5rem;
		margin-top: 2rem /* 32px */;
		margin-bottom: 2rem /* 32px */;
		font-size: 0.75rem /* 12px */;
		line-height: 1rem /* 16px */;
		position: absolute;
		z-index: 5;
		height: 2rem;

		&:hover {
			visibility: visible;
		}
	}
}
