@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.tags {
	padding: 5px;
	text-align: center;
	cursor: pointer;
}
.icon {
	cursor: pointer;
}
.mainHeader {
	font-weight: 600;
	font-size: 1.527rem;
	text-align: center;
	color: #262626;
	margin-bottom: 0px;
}
.ActionComponentSection {
	margin-block-end: 1rem;
	.title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 1rem;
		color: #8c8c8c;
		margin-block-end: 0.4rem;
	}
	.subtitle {
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.625rem;
		color: #262626;
	}
}
.transaction__header {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 35px;
}
.container {
	width: 100%;

	.earnings {
		font-weight: 500;
		font-size: 1rem;
		line-height: 26px;
		color: #8c8c8c;
	}
	.expected { 
		font-weight: 700;
		font-size: 0.75rem;
		line-height: 26px;
		color: #8c8c8c;
		span {
			color: #0072ef;
		}
	}
	.selector {
		background: $white-100;
		@include flex(row, center, null);
		width: 100%;
		margin-bottom: 1.3125rem;
		.kreatorSelect {
			width: 10%;
			margin-right: 0.00625rem;
			@include screen('tablet') {
				width: 15%;
			}
			@include screen('medium') {
				width: 30%;
			}
		}
		.affiliateSelect {
			width: 10%;
			@include screen('tablet') {
				width: 15%;
			}
			@include screen('medium') {
				width: 30%;
			}
		}
	}

	.dateHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include screen('tablet') {
			display: grid;
			grid-template-rows: 3;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 1rem;
		}

		.searchCont {
			padding-top: 0.5rem;
			.searchStyles {
				height: 44px;
				@include screen('tablet') {
					width: 100%;
				}
			}

			.label {
				font-size: 0.875rem;
				line-height: 10px;
				color: $gray-200;
				padding-right: 0.75rem;
			}

			@include screen('tablet') {
				grid-column-start: 1;
				grid-column-end: 4;
			}
		}

		.selectCont {
			width: 15%;

			.select {
				height: 50px;
				padding-bottom: 0.4rem;
				@include screen('tablet') {
					width: 100%;
				}
			}
		}

		.today {
			@extend .selectCont;
			@include screen('tablet') {
				width: 100%;
				grid-column-start: 1;
				grid-column-end: 2;
			}
		}
		.currency {
			@extend .selectCont;
			@include screen('tablet') {
				width: 100%;
				grid-column-start: 2;
				grid-column-end: 4;
			}
		}

		.dateCont {
			padding-top: 1rem;
			.label {
				font-size: 0.875rem;
				line-height: 10px;
				color: $gray-200;
				padding-right: 0.75rem;
			}

			.selectDate {
				.date {
					width: 10rem;
					height: 44px;
					margin: 0;

					@include screen('medium') {
						width: 8.5rem;
						padding: 0.4rem;
					}
				}
			}
		}

		.filterCont {
			padding-top: 1.5rem;
		}
	}

	.midSection {
		width: 100%;
		.title {
			@include flex(row, space-between, null);
			padding-top: 2rem;
			padding-bottom: 1rem;

			.userType {
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.625rem;
				color: $gray-200;
			}

			.userTypeLink {
				@include flex(row, null, center);

				p {
					font-weight: 550;
					font-size: 0.75rem;
					line-height: 1rem;
					color: $base-blue;
					cursor: pointer;
					padding-right: 0.5rem;
				}
				.arrowIcon {
					padding-bottom: 0.7rem;
				}
			}
		}
		.cardContainer {
			@include flex(row, space-between, null);
			// @include screen('medium') {
			// 	display: grid;
			// 	grid-template-columns: 1fr 1fr;
			// 	gap: 1rem;
			// }
			// border: 1px solid red;
			min-width: 100%;

			.m0 {
				margin: 0;
			}

			.cardStyle {
				width: 100%;
				height: 7.5rem;
				background: $base-white;
				box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
				border-radius: 0.5rem;
				cursor: pointer;
				@include flex(row, center, null);

				@include screen('medium') {
					width: 100%;
					height: 5rem;
				}

				.iconCont {
					@include flex(row, center, center);

					padding: auto;
					.icon {
						padding-right: 0.5rem;
						transition: padding-right 0.2s;
						@media (min-width: 1200px) {
							padding-right: 1.2rem;
						}
					}
					.countCont {
						.value {
							font-size: 0.9375rem;
							font-weight: 500;
							line-height: 1.375rem;
							color: $black-300;
						}
						.valueText {
							font-weight: 400;
							font-size: 0.8125rem;
							line-height: 1.0625rem;
							color: $gray-600;
						}
						@include screen('tablet') {
							.value {
								font-size: 0.75rem;
							}
							.valueText {
								font-size: 0.75rem;
							}
						}
					}
				}
			}
			.card {
				@extend .cardStyle;
				// margin-left: 1rem;
				padding-inline: 2.5rem;
				//

				@include screen('medium') {
					margin-left: 0;
				}

				@media (max-width: 480px) {
					padding-inline: 0.5rem;
				}
			}

			.firstCard {
				@extend .cardStyle;
				margin: 0;
				// padding-inline: 2.5rem;
				padding-inline: 2.5rem;
				@media (max-width: 480px) {
					padding-inline: 0.5rem;
				}
			}
		}
	}

	.midSection.notYetAnAffiliate {
		.firstCard,
		.card {
			background-color: #d9d9d9;
		}
	}

	.modal {
		width: 80%;
		margin-left: auto;

		.dashboardModal {
			text-align: center;

			.modalTitle {
				font-weight: 600;
				font-size: 1rem;
				line-height: 1.75rem;
				color: $base-gray;
			}

			.content {
				padding-top: 2rem;
				font-size: 0.875rem;
				line-height: 1.5rem;
				color: $base-gray;
			}

			.buttonContainer {
				padding-top: 3.0625rem;
				.btn {
					width: 36%;
				}

				.tipBtn {
					@extend .btn;
					margin-right: 2.5rem;
				}
				.proceedBtn {
					@extend .btn;
				}
			}
		}
	}
}

.dataSection {
	.table__wrapper {
		display: block;
	}

	.mobile__wrapper {
		display: none;
	}

	@include screen('x-large') {
		.table__wrapper {
			display: none;
		}

		.mobile__wrapper {
			display: block;
		}
	}
}


.mobileCardContainer {
	margin-block-end: 1.5rem;

	.mobileCard {
		@include flex(column, null, null);
		border-radius: 8px;
		padding: 1rem;

		.date {
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 18px;
			display: flex;
			align-items: center;
			color: #595959;
		}

		.statusContainer {
			display: flex;
			justify-content: flex-end;

			.status {
				display: inline-block;
			}
		}

		.heading {
			.title {
				font-weight: 700;
				font-size: 1rem;
				line-height: 26px;
				display: flex;
				align-items: center;
				color: #262626;
			}
		}

		// this is a list
		.orderDetails {
			margin-block: 1rem;

			.orderDetail {
				margin-block-end: 0.5rem;
				padding: 0.5rem 0.8rem;
				align-items: center; 
				@include flex(row, space-between, null);

				.key {
					font-weight: 700;
					font-size: 0.875rem;
					line-height: 20px;
					color: #262626;
				}

				.value {
					font-weight: 400;
					font-size: 0.875rem;
					line-height: 24px;
					color: #595959;
				}
			}

			.orderDetail:nth-child(odd) {
				background: #f5f5f5;
				border-radius: 8px;
			}
		}

		.customerDetailsSection {
			.customerDetailsHeading {
				font-weight: 700;
				font-size: 0.75rem;
				line-height: 16px;
				color: #0072ef;
				@include flex(row, null, center);
				gap: 0.5rem;
			}

			.customerDetails {
				margin-block: 1rem;
				transition: all 1000ms ease-in;

				.customerDetail {
					margin-block-end: 0.5rem;
					padding: 0.5rem 0.8rem;
					@include flex(row, space-between, null);

					.key {
						font-weight: 700;
						font-size: 0.875rem;
						line-height: 20px;
						color: #595959;
					}

					.value {
						font-weight: 400;
						font-size: 0.875rem;
						line-height: 24px;
						color: #595959;
					}

					&::nth-child(odd) {
						background: #f1fcf8;
						border-radius: 8px;
					}
				}

				&.show {
					height: fit-content;
					display: block;
				}

				&.hide {
					height: 0px;
					display: none;
				}
			}
		}
	}
}