@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.tags {
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

.icon {
	cursor: pointer;
}

.mainHeader {
	font-weight: 600;
	font-size: 1.527rem;
	text-align: center;
	color: #262626;
	margin-bottom: 0px;
}

.ActionComponentSection {
	margin-block-end: 1rem;

	.title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 1rem;
		color: #8c8c8c;
		margin-block-end: 0.4rem;
	}

	.subtitle {
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.625rem;
		color: #262626;
	}
}

.dataSection {
	.table__wrapper {
		display: block;
	}

	.mobile__wrapper {
		display: none;
	}

	@include screen('x-large') {
		.table__wrapper {
			display: none;
		}

		.mobile__wrapper {
			display: block;
		}
	}
}

.transaction__header {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 35px;
}

.cardContainer {
	margin-block-end: 1.5rem;

	.card {
		@include flex(column, null, null);
		border-radius: 8px;
		padding: 1rem;

		.date {
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 18px;
			display: flex;
			align-items: center;
			color: #595959;
		}

		.statusContainer {
			display: flex;
			justify-content: flex-end;

			.status {
				display: inline-block;
			}
		}

		.heading {
			.title {
				font-weight: 700;
				font-size: 1rem;
				line-height: 26px;
				display: flex;
				align-items: center;
				color: #262626;
			}
		}

		// this is a list
		.orderDetails {
			margin-block: 1rem;

			.orderDetail {
				margin-block-end: 0.5rem;
				padding: 0.5rem 0.8rem;
				align-items: center;
				@include flex(row, space-between, null);

				.key {
					font-weight: 700;
					font-size: 0.875rem;
					line-height: 20px;
					color: #262626;
				}

				.value {
					font-weight: 400;
					font-size: 0.875rem;
					line-height: 24px;
					color: #595959;
				}
			}

			.orderDetail:nth-child(odd) {
				background: #f5f5f5;
				border-radius: 8px;
			}
		}

		.customerDetailsSection {
			.customerDetailsHeading {
				font-weight: 700;
				font-size: 0.75rem;
				line-height: 16px;
				color: #0072ef;
				@include flex(row, null, center);
				gap: 0.5rem;
			}

			.customerDetails {
				margin-block: 1rem;
				transition: all 1000ms ease-in;

				.customerDetail {
					margin-block-end: 0.5rem;
					padding: 0.5rem 0.8rem;
					@include flex(row, space-between, null);

					.key {
						font-weight: 700;
						font-size: 0.875rem;
						line-height: 20px;
						color: #595959;
					}

					.value {
						font-weight: 400;
						font-size: 0.875rem;
						line-height: 24px;
						color: #595959;
					}

					&::nth-child(odd) {
						background: #f1fcf8;
						border-radius: 8px;
					}
				}

				&.show {
					height: fit-content;
					display: block;
				}

				&.hide {
					height: 0px;
					display: none;
				}
			}
		}
	}
}
