@import './colors.scss';
@import './mixins.scss';
@import './screens.scss';

.container {
	min-height: 60vh;
	padding-top: 10px;
	.body {
		padding: 2rem 10.31rem;
		@include screen('medium-large') {
			padding: 0.3rem 2rem;
		}
		.role {
		}
		.about {
		}
		.benefits {
		}
		.responsibilities {
		}
		.metrics {
		}
		.requirements {
		}
		.attributes {
		}

		.instructions {
		}
	}
	.form {
		padding: 2rem 10.31rem;
		@include screen('medium-large') {
			padding: 0.3rem 0rem;
		}
		@include screen('x-large') {
			padding: 2rem 1.4rem;
		}
	}
}

.modalOuterContainer {
	padding-top: 5rem;
	@include flex(column, flex-start, center);
}
.modalContainer {
	min-width: 40% !important;
	.modalBody {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.status {
			font-weight: 600;
			font-size: 30px;
			line-height: 33px;
			color: #262626;
		}
		.icon {
		}
		.description {
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: #8c8c8c;
		}
		.btnCont {
		}
		.errorBtnCont {
			color: #f90005 !important;
			border: 1px solid #f90005 !important;
			&:hover {
				color: #fc1317 !important;
				border: 1px solid #fc1317 !important;
			}
		}
	}
}
