@import "./colors.scss";
@import "./mixins.scss";
@import "./screens.scss";

.container{
    min-height: 60vh;
    .body{
        padding: 2rem 10.31rem;
        background-repeat: no-repeat;
        background-image: url("/images/partial-general-bg.svg");
        background-size: contain;
        @include screen("medium") {
          background-image: url("/images/mobile-general-bg.svg");
        }
        @include screen("medium-large") {
          padding: 2rem .4rem;
        }
        @include screen("x-large") {
          padding: 2rem 2.4rem;
        }
    
        .header {
          text-align: center;
          min-height: 60vh;
          @include screen("tablet") {
            padding: 0rem 1rem;
          }
          h1 {
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 3.2rem;
            color: $black-100;
          }
          .subHeader {
            padding-top: 1rem;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $base-gray;
            margin-bottom: 3rem;
          }
          .mobileSubHeader {
            display: none;
          }

          .jobOpeningsBtn{
            min-width: 10rem;
            height: 3.125rem;
            align-items: center;
            font-size: 1rem;
            padding: 1.1rem .5rem;
            background-color: #0072EF;
            color: #fff;
            border-radius: 8px;
          }

          @include screen("tablet") {
            .jobOpeningsBtn {
              width: 50%;
              font-size: 0.9375rem;
              line-height: 1.875rem;
            }
          }
    
          @include screen("medium") {
            h1 {
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 1.9rem;
            }
            .subHeader {
              display: none;
            }
            .mobileSubHeader {
              display: block;
              text-align: center;
              font-size: 0.9375rem;
              line-height: 1.4rem;
              opacity: 0.8;
              color: $base-gray;
            }
          }
        }
        .benefits{
            text-align: center;
            position: relative;
            padding-block: 4rem;
            .benefitsTitle{
              font-weight: 700;
              font-size: 40px;
              line-height: 54px;
              color: #262626;
            }
            .benefitsSubtitle{
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              text-align: center;
              color: #595959;
            }
            .cardContainer{

            }
        }

    }
    .peopleImageContainer{
      height: 350px;
      background: #F5F5F5;
      position: relative;

      .peopleImage{
        position: absolute !important;
        top: -85px !important;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
      }
    }
    .body2{
      padding: 2rem 10.31rem;
      @include screen("medium-large") {
        padding: 2rem .4rem;
      }
      @include screen("x-large") {
        padding: 2rem 2.4rem;
      }
      .openPositions{
        .openPositionsTitle{
          font-weight: 700;
          font-size: 40px;
          line-height: 54px;
          color: #262626;
        }
        .openPositionsSubtitle{
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #595959;
        }
        .departments{
          .department{
            margin-bottom: 30px;
            .nameActionSection{
  
            }
          }
        }
      }
    }
}