@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.allProduct {
	.addProductBtn {
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
	}
}

.dataTop {
	margin-top: 10px;
	padding: 4px 5px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	div {
		color: $base-blue;
		display: flex;
		cursor: pointer;
	}
	.downloadIcon {
		font-size: 18px;
		margin-left: 10px;
	}
}
