@import './screens.scss';

.btnCont {
	width: 100% !important;
	height: 3.5rem;
}

.nav {
	h2 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.lgContent {
		display: block;

		@media (max-width: 600px) {
			display: none;
		}
	}

	.smContent {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		h2 {
			position: unset;
			transform: unset;
			font-weight: 700;
		}

		@media (min-width: 600px) {
			display: none;
		}
	}
}

.container {
	// border: 1px solid red;
	background-image: url('../images/checkout-bg.png');
	padding: 20px 80px;

	@media (max-width: 1200px) {
		padding: 1rem;
	}

	@media (max-width: 600px) {
		padding: 1rem;
		background-image: unset;

		.backArrow {
			display: none;
		}
	}

	@include screen('medium') {
		background-image: none;
	}

	// .boxShadow {
	// 	box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
	// }
	.checFlag {
		position: relative;
		width: 20px;
		height: 20px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	.couponBtn {
		height: 3.375rem;
	}

	.card {
		border-radius: 0.5rem;
		border: 1px solid #f0f0f0;
		cursor: pointer;
		color: #8c8c8c;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.3rem 0.2rem;
	}

	.activeCard {
		@extend .card;
		border: 1px solid #2dc071;
		justify-content: space-evenly !important;
	}

	.activePayment {
		@extend .card;
		border: 1px solid #2dc071;
		justify-content: space-evenly;
		// gap: 2rem;
	}
	.productDetailsContainer {
		.productDetails {
			font-weight: 500;
			font-size: 18px;
			text-align: left;
			color: #262626;
		}
		.productTitle {
			font-weight: 700;
			font-size: 18px;
			line-height: 28px;
			color: #262626;
		}
		.productPrice {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #1a1a1a;
		}
		.name {
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #8c8c8c;
		}
		.productImageContainer {
			height: fit-content;

			img {
				object-fit: cover;
				border-radius: 8px;
			}
		}
	}
}

.modal {
	border-radius: 0.5rem;
	width: 40%;

	@include screen('tablet') {
		width: 90%;
	}
}

.phoneCode {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	// @media (max-width: 600px) {
	// 	width: 100%;
	// 	flex: 1.2;
	// }
	//   border: 1px solid red;
	//   position: relative;
	//   top: -34px;
	//   left: -2px;
	width: 100%;

	& label:first-child {
		display: none !important;
	}
}

.phoneNumberLabel {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-size: 0.8rem !important;
	line-height: 1rem !important;
	color: #595959;
	margin-bottom: 0.5rem;

	.ant-col.ant-form-item.label {
		border: 1px solid blue !important;
	}
}

.phoneBox {
	position: relative;
	// top: -14px;
	width: 100%;
}

.poweredTop {
	margin-top: 9rem;
	// border: 1px solid red;
}

.minimumPriceContainer {
	font-family: inter;
	background: #f5f5f5;
	color: #262626;
	width: 487px;

	@include screen('medium') {
		width: 100%;
	}
}

.minimumPriceText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	padding: 0.75rem;
}

.desiredPayText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #8c8c8c;
	@include screen('medium') {
		font-size: 14px;
	}
}

.desiredPayTitle {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #262626;
}

.desiredPayContainer {
	margin-top: 20px;
}

.desiredPay {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #262626;
}

.desiredAmountError {
	display: flex;
	align-items: center;
}

.errorText {
	color: #ff4d4f;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	margin-left: 10px;
	margin-top: 4px;
	@include screen('medium') {
		font-size: 12px;
	}
}

.currencyCardCont {
	// border: 1px solid red;
	@media (max-width: 500px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;

		.card,
		.activeCard {
			min-width: 40%;
			display: flex;
			justify-content: flex-start !important;
			align-items: center;
		}
	}
}

.currencyWestAfCardCont {
	// border: 1px solid green;

	@media (max-width: 500px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;

		.card,
		.activeCard {
			min-width: 30%;
			display: flex;
			justify-content: flex-start !important;
			align-items: center;
		}
	}
}
