@import './screens.scss';

.successContainer {
	nav {
		text-align: center;
		padding-block: 1.5rem;
		display: flex;
		background: #ffffff;
		box-shadow: 0px 1px 0px rgba(34, 34, 34, 0.05);
		padding-inline: 2rem;
		& > div {
			display: flex;
			justify-content: flex-end;
		}
		.titleContainer {
			flex: 2;
			& > h3 {
				font-weight: 400;
				font-size: 2.5rem;
				line-height: 64px;
				text-align: center;
				color: #262626;
			}
		}
		.profileImageContainer {
			flex: 1;
			display: flex;
			align-items: center;
			.profileImage {
				height: 50px;
				width: 50px;
				border: 1px solid #7b7b7b;
			}
			& > p {
				font-weight: 500;
				font-size: 1.25rem;
				line-height: 30px;
				color: #595959;
			}
		}
	}
	.body {
		padding-block: 2rem;
		width: 75%;
		margin: auto;
		.successfulPurchase {
			margin-block-end: 5rem;
			.successText {
				text-align: center;
				margin-bottom: 5rem;
				margin-top: 1rem;
				.header {
					margin-top: 2rem;
					font-weight: 600;
					font-size: 30px;
					line-height: 33px;
					color: #262626;
				}
				.description {
					font-weight: 500;
					font-size: 16px;
					line-height: 26px;
					color: #8c8c8c;
					margin-bottom: 0;
				}
			}
			.item {
			}
		}

		.otherProducts {
			.headerText {
				text-align: center;
				margin-bottom: 2rem;
			}
		}
		.productCardContainer,
		.otherProductCardContainer,
		.purchaseSummaryCardContainer {
			background: #ffffff;
			/* LIGHTER */

			box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
			border-radius: 8px;
		}

		.purchaseSummaryCardContainer {
			padding: 1.5rem 3rem;
			.header {
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				color: #595959;
			}
			.purchase {
				display: flex;
				flex-direction: row;
				gap: 1.3rem;
				& > span {
					display: flex;
					flex-direction: column;
					width: 100%;
					.top {
						font-weight: 700;
						font-size: 18px;
						line-height: 28px;
						color: #262626;
					}
					.bottom {
						display: flex;
						align-items: center;
						justify-content: space-between;

						& > div {
							display: flex;
							gap: 1rem;
							p {
								margin-bottom: 0;
								font-weight: 500;
								font-size: 14px;
								line-height: 24px;
								color: #8c8c8c;
							}
						}
					}
					& > button {
					}
				}
			}
			.preorder2 {
				background: #fff6dd;
				font-weight: 400;
				font-size: 0.875rem;
				line-height: 24px;
				color: #262626;
				padding: 0.5rem;
				& > span {
					font-weight: 700;
				}
			}
			.error {
				background: rgba(255, 77, 79, 0.1);
				font-weight: 400;
				font-size: 0.875rem;
				line-height: 24px;
				color: #ff4d4f;
				padding: 0.5rem;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				margin-top: 0.5rem;
				a {
					font-weight: 700;
					color: #ff4d4f !important;
					text-decoration: underline;
				}
			}
		}

		.productCardContainer {
			padding: 1.5rem;

			.productDetails {
				margin-top: 1rem;
				.productName {
					font-weight: 500;
					font-size: 1.5rem;
					line-height: 32px;
					color: #262626;
				}
				.profileImageContainer {
					flex: 1;
					display: flex;
					align-items: center;
					.profileImage {
						height: 50px;
						width: 50px;
						border: 1px solid #7b7b7b;
					}
					& > p {
						font-weight: 500;
						font-size: 1.25rem;
						line-height: 30px;
						color: #595959;
					}
				}
			}
		}

		.otherProductCardContainer {
			.productDetails {
				padding: 1.5rem;
				.top {
					padding-block: 0.5rem;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.availability {
						margin-bottom: 0;
						font-weight: 400;
						font-size: 1rem;
						color: #ff4d4f;
					}
					.amountSold {
						margin-bottom: 0;
						font-weight: 400;
						font-size: 1rem;
						line-height: 26px;
						color: #8c8c8c;
					}
				}
				& > h5 {
					font-weight: 700;
					font-size: 18px;
					line-height: 28px;
					color: #262626;
				}
				.bottom {
					display: flex;
					justify-content: space-between;
					align-items: center;
					& > p {
						margin-bottom: 0px;
						font-weight: 500;
						font-size: 20px;
						line-height: 30px;
						color: #8c8c8c;
					}
					.goto {
						fill: #bfbfbf;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.modal {
	padding: 1rem 2.3rem;
	.header {
		& > h2 {
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 32px;
			text-align: center;

			color: #262626;
		}
		& > p {
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 24px;
			text-align: center;
			color: #595959;
		}
	}
	.modalBody {
		margin-top: 1rem;
		.preorder {
			background: #fffdd0;
			color: #ff5c00;
			padding: 1rem;
			margin-bottom: 1rem;
			& > h5 {
				color: inherit;
				font-weight: 500;
				font-size: 1rem;
				line-height: 26px;
			}
			& > p {
				color: inherit;
				font-weight: 400;
				font-size: 0.75rem;
				line-height: 18px;
			}
		}
	}
}
