$base-white: #ffffff;
$base-blue: #0072ef;
$base-gray: #595959;
$border-gray: rgba(34, 34, 34, 0.05);
$border-gray-100: rgb(235, 232, 232);
$dark-blue: #003a8c;
$text-gray: #d9dbe1;
$form-shadow: rgba(0, 114, 239, 0.2);
$black-100: #262626;
$black-200: #252b42;
$black-300: #171717;
$base-black: #000000;
$gray-100: #d9d9d9;
$gray-200: #8c8c8c;
$gray-300: #000000;
$gray-400: #737373;
$gray-500: #d6d7e3;
$gray-600: #b9b9b9;
$pink-100: #ffa39e;
$wine-100: #5c0011;
$modal-bg: rgba(0, 0, 0, 0.62);
$blue-100: #e6f7ff;
$blue-200: #bae7ff;
$blue-300: #23a6f0;
$blue-400: #8ec2f2;
$blue-500: #002766;
$blue-600: #40a9ff;
$blue-700: #69c0ff;
$green-100: #00b140;
$green-200: #80d89f;
$base-green-100: #2dc071;
$base-green-300: #f1fcf8;
$white-100: #fafafa;
$white-200: #f5f5f5;
$white-300: #f0f0f0;
$btn-disabled: #b0b3c5;
$gray-border: #eaeef8;
$notification-bg: #f5222d;
