@use "colors";
@use "mixins";
@use "screens";

.boardSection {
  position: relative;
  // border: 1px solid red;
}
.stats__container:first-child {
  margin-bottom: 40px;
}

.modal__wrapper {
  text-align: center;
}

.header {
  margin-bottom: 32px;

  > h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    color: colors.$base-gray;
  }
}

.content {
  margin-bottom: 32px;

  p {
    margin-bottom: 0;

    > [class="ant-typography"] {
      font-weight: 400;
      font-size: 14px;
      color: colors.$base-gray;
    }
  }
}

.footer {
  @include mixins.flex(row, center, center);
  flex-wrap: wrap;
  gap: 20px 40px;

  > button,
  a {
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    width: auto;
    height: auto;
    padding: 10px 20px;
  }

  > a:first-child {
    border: 1px solid colors.$base-blue;
    color: colors.$base-blue;

    &:hover {
      border-color: colors.$base-blue;
      color: colors.$base-blue;
    }
  }
}

@include screens.minScreen("medium-large") {
  .modal__wrapper {
    padding: 40px 50px;
  }
}

// .setUpPrompt {
//   background: #f1fcf8;
//   border-radius: 8px;
//   max-width: 453px;
//   margin: 0 auto;
//   position: absolute;
//   top: -130px;
//   left: 120px;
//   right: 200px;
//   padding: 24px;
//   .promptHeader {
//     display: flex;
//     align-items: center;
//     margin-bottom: 16px;
//     h4 {
//       font-weight: 700;
//       font-size: 18px;
//       line-height: 28px;
//       margin-left: 10px;
//       margin-bottom: unset;
//       color: #595959;
//     }

//     & + p {
//       font-weight: 400;
//       font-size: 14px;
//       line-height: 24px;
//     }
//   }
//   @media (min-width: 768px) {
//     max-height: 140px;
//   }
// }
