@import "./colors.scss";
@import "./mixins.scss";
@import "./screens.scss";

.container2 {
	box-sizing: border-box;
	padding: 3.4rem 10.31rem 0rem 10.31rem;
			background-color: $white-200;


	@include screen("tablet") {
		padding: 0 1rem;
	}
	@include screen("medium") { 
		background-image: url("/images/mobile-general-bg.svg");
		background-repeat: no-repeat;
	}

	.hero2 {
		width: 100%;
		display: flex;
		padding-bottom: 0rem;
        @include screen("tablet") {
            margin-bottom: 5px;
            padding-bottom: .5rem;
        }
		.heroText2 {
			width: 60%;
            @include screen("tablet") {
                text-align: left;
                width: 100%;
                padding-top: 2rem;
            }
			h3 {
				font-weight: 700;
				font-size: 2.5rem;
				line-height: 3.375rem;
				color: $black-100;
                @include screen("tablet") {
                    font-weight: 400;
                    font-size: 1.9rem;
                }
			}
			p {
				font-weight: normal;
				font-size: 1rem;
				line-height: 2rem;
				color: $base-gray;
				padding-top: 0.7rem;
                @include screen("tablet") {
                    font-weight: 300;
                    font-size: 1.26rem;
                }

				a {
					color: $base-blue;
					text-decoration: none;
				}
			}
		}
		.heroImage2 {
			width: 30%;
		}

		@include screen("tablet") {
			flex-direction: column;
			text-align: center;
            align-items: flex-start;
			.heroText {
				width: 100%;
				h3 {
					font-weight: 600;
					font-size: 1.5rem;
				}
				p {
					opacity: 0.8;
				}
			}
			.heroImage2 {
				width: 100%;
                @include screen("tablet") {
                }
			}
		}
	}

    .faq2 {
        width: 100%;
        margin-right: 5rem;
        padding: 1.125rem 0 1.125rem 1.5rem;
        border-radius: 0.5rem;
        

        h3 {
            font-weight: 600;
            font-size: 1.562rem;
            line-height: 3.375rem;
            color: $base-black;
            text-align: center;
        }
        .input{
            margin: auto;
            width: 50%;
            padding-inline: 10px;
            @include screen("tablet") {
                width: 100%;
            }
        }
    }

	.backToTop {
		display: none;

		@include screen("tablet") {
			display: block;
		}
	}

	
}
.body {
    box-sizing: border-box;
	padding: 0rem 10.31rem;
    background-color: $white-200;
    width: 100%;
    padding-bottom: 5rem;
    background-color: #fff;
    // border: 1px solid;
    @include screen("tablet") {
        padding: 0rem 1.5rem;
    }
    @include screen("medium") {
		padding: 0rem 3rem;
	}

    
        .groupQuestions2 {
           
            .dropDown {
                display: flex;
                flex-direction: column;

                .headerArrow {
                    display: flex;
                    align-items: center;
                    padding-top: 1.5rem;
                    cursor: pointer;

                    .arrowStyle {
                        margin-right: 1.219rem;
                        transition: all 0.5s cubic-bezier(0.93, -0.01, 0.36, 0.99);
                    }

                    .arrow {
                        @extend .arrowStyle;
                    }
                    .open {
                        @extend .arrowStyle;
                        transform: rotate(270deg);
                    }

                    .title {
                        font-weight: 400;
                        font-size: 1.125rem;
                        line-height: 1.875rem;
                        color: $base-blue;
                    }
                }
                .questionsContainer {
                    padding-top: 1rem;
                    .questions {
                        font-weight: normal;
                        font-size: 0.812rem;
                        line-height: 1.5rem;
                        color: $black-100;
                        margin-bottom: 0.75rem;
                        padding-right: 0.5rem;
                        cursor: pointer;
                    }
                }
            }
        }
}

.enjoyBenefits{
    width: 100%;
    text-align: center;
    padding-block: 30px;
    @include screen("tablet") {
        display: none;
    }
    .heading{
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        color: #0072EF;
    }
    .description{
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #595959;
    }
    .getStarted{
        margin: auto;
        width: 30%;
        @include flex(row, null, null);
        @include screen("xx-large") {
            width: 50%;
        }
        @include screen("tablet") {
            width: 70%;
        }
        @include screen("medium-large") {
            width: 90%;
        }
        input{
            border-radius: 0.5rem 0 0 0.5rem;
            height: 2.5rem;
        }
        .button{
            padding-inline: 5px;
            display: inline-block;
            height: 2.5rem;
            font-size: 14px;
            border-radius: 0 0.5rem 0.5rem 0;
            @include screen("tablet") {
                font-size: 12px;
                padding-inline: 2px;
            }
        }
    }
}