@import "./colors.scss";
@import "./mixins.scss";
@import "./screens.scss";

.container {
  box-sizing: border-box;
  padding: 0rem 10.31rem;
  background-image: url("/images/partial-general-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @include screen("tablet") {
    padding: 0rem 2rem;
    padding-top: 2rem;
  }

  @include screen("medium") {
    padding: 0rem 1rem;
    background-image: url("/images/mobile-general-bg.svg");
    width: 100%;
  }

  .hero {
    text-align: center;

    .main {
      margin: 0;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 3rem;
      line-height: 4rem;
      color: $black-100;
    }

    .webTitle {
      @extend .main;
    }
    .mobileTitle {
      display: none;
      @extend .main;
    }

    .subtitleStyle {
      color: $base-gray;
      margin-bottom: 2rem;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 2rem;
    }

    .webSubtitle {
      @extend .subtitleStyle;
    }
    .mobileSubtitle {
      display: none;
      @extend .subtitleStyle;
      font-weight: 300;
      line-height: 1.5rem;
    }

    .input {
      margin: 0;
      padding: 0;
      .svg {
        display: none !important;
      }
    }

    .benefits {
      display: flex;
      justify-content: center;
      margin-top: 0.6rem;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      color: $base-gray;

      span {
        padding: 0 0.4rem;
      }
    }

    .features {
      display: none;
      @include minScreen("xx-large") {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        .featuresWrapper {
          display: flex;
          width: 45%;
          justify-content: space-between;
          @include screen("medium") {
            width: 100%;
          }

          ul {
            text-align: start;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.875rem;
            color: $base-gray;

            li,
            li.scrollListItem {
              cursor: pointer;
              text-transform: capitalize;
              list-style-type: disc;
              color: $base-gray !important;
              :hover {
                color: $blue-600 !important;
              }
              .Link {
                color: $base-gray;
              }

              &.activeScrollLink {
                color: $blue-600 !important;
                & > a {
                  color: $blue-600 !important;
                }
              }
            }
          }

          .hrDivider {
            width: 1px;
            background: #bfbfbf;
            margin: 0.6rem 0 1.5rem 0;
          }
        }
      }
    }

    @include screen("tablet") {
      .webTitle {
        display: block;
        text-align: center;
      }
      .mobileTitle {
        display: none;
      }
    }

    @include screen("medium") {
      .webTitle {
        display: none;
      }
      .mobileTitle {
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .webSubtitle {
        display: none;
      }
      .mobileSubtitle {
        display: block;
        // border: 1px solid red;
      }
    }
  }

  .majorFeatures {
    width: 100%;
    // display: flex;
    display: block;

    // @include screen("tablet") {
    //   flex-direction: column;
    // }

    @media (min-width: 1277px) {
      & {
        display: flex;
        // flex-direction: column;
      }
    }

    &.alte {
      @include screen("tablet") {
        flex-direction: column-reverse;
      }
    }

    .imageCont {
      width: 100%;
      margin-right: 3rem;

      .featureTop {
        text-align: left !important;
        align-self: flex-start;

        @media (max-width: 1277px) {
          display: flex;
          margin-bottom: 25px;
          width: 50%;
          align-items: center;
          justify-content: flex-start;
        }
      }

      &.alternate {
        margin-right: 0;
        // margin-left: 5rem;

        @media (min-width: 1277px) {
          // display: none;

          margin-left: 15rem;
        }
      }

      &.alt {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.centred {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4.5rem;
        transition: margin-top 0.2s;

        @media (min-width: 1277px) {
          margint-top: unset;
        }
      }

      // .featureTitleIcon {
      // }
      .featureTitle {
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
        color: $black-100;
        margin-bottom: unset;
        margin-left: 0.8rem;
        transition: all 0.2s;

        @include screen("medium") {
          font-weight: 700;
          font-size: 1.75rem;
          line-height: 2.5rem;
        }

        @media (min-width: 1277px) {
          margin-left: unset;
        }
      }
      .featureExcerpt {
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 2rem;
        color: $base-gray;
        text-align: left !important;
        // width: 60%;

        @include screen("medium") {
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5625rem;
        }
      }
      .featureIcon {
        @media (max-width: 1277px) {
          display: none;
        }
      }

      @include screen("tablet") {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.alternate {
          margin-right: 0;
          margin-left: 0rem;
        }

        .featureExcerpt {
          width: 100%;
          text-align: center;
        }
        .featureIcon {
          display: none;
        }
      }
    }
    .cardCont {
      // width: 50%;
      // display: flex;
      // background-image: url("../images//feature-bg.svg");
      // background-repeat: no-repeat;
      padding: 24px 25px;
      // margin-bottom: 2rem;
      background: $base-white;
      box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.15);
      border-radius: 0.5rem;
      width: 100%;
      transition: all 0.2s;

      .firstRow {
        // margin-right: 1.5rem;
        width: 100%;
        transition: all 0.2s;
        &.alternateFirstRow {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        @media (min-width: 1277px) {
          margin-right: 1.5rem;
        }
      }
      .secondRow {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // &.alternateSecondRow {
        // }
      }

      @include screen("tablet") {
        width: 100%;
        justify-content: center;
      }

      @media (min-width: 1277px) {
        display: flex;
        width: 50%;
        background: unset;
        box-shadow: unset;
        border-radius: unset;
        max-width: 441px;
      }
    }

    .mobileFeatureIcon {
      display: none;
      // @include screen("tablet") {
      //   display: flex;
      //   justify-content: center;
      // }

      // @media (min-width: 1277px) {
      //   display: flex;
      //   justify-content: center;
      // }
    }

    &.reassign {
      display: flex;
      // flex-direction: column;
      // .imageCont {
      //   order: 2;
      // }

      // .cardCont {
      //   order: 1;
      // }
      // @media (min-width: 1277px) {
      //   flex-direction: row;
      //   .imageCont {
      //     order: 1;
      //   }
      //   .cardCont {
      //     order: 2;
      //   }
      //   .mobileFeatureIcon {
      //     order: 3;
      //   }
      // }
      @include screen("tablet") {
        display: flex;
        .imageCont {
          order: 1;
        }
        .cardCont {
          order: 2;
        }
        .mobileFeatureIcon {
          order: 3;
        }
      }
    }
  }

  .sellFeatures {
    @extend .majorFeatures;
    margin: 4rem 0;
  }

  .manageFeatures {
    @extend .majorFeatures;
  }
  .marketFeatures {
    @extend .majorFeatures;
    margin-bottom: 5rem;
  }

  .supportFeatures {
    @extend .majorFeatures;
    margin: 5rem 0;
  }

  .deliverFeatures,
  .customizeFeatures,
  .secureFeatures {
    @extend .majorFeatures;
    margin: 5rem 0;
  }

  .deliverFeatures {
    .majorFeatures {
      display: flex;
      flex-direction: column-reverse;
      .featureExcerpt {
        margin-bottom: 1rem;
      }

      @media (min-width: 1277px) {
        flex-direction: row;
        .imageCont {
          margin-left: 17rem;
          // border: 1px solid red;
          align-self: flex-end;
          margin-right: unset;
        }
      }
    }
  }

  // .customizeFeatures {
  //   .majorFeatures {
  //     display: flex;
  //     flex-direction: column;
  //   }
  // }
}

.featureCard {
  // width: 15.875rem;
  // min-width: 663px;
  width: 100%;
  // max-width: 946px;
  // max-width: 663px;
  // background: $base-white;
  // box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.15);
  // border-radius: 0.5rem;
  // padding: 24px 25px;
  margin-bottom: 2rem;

  // @include screen("medium") {
  //   width: 11.25rem;
  // }
  // @include screen("small") {
  //   width: 100%;
  // }
  .cardTitle {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: $base-black;
    margin-bottom: 1rem;
  }
  .cardContent {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: $base-gray;
    text-align: justify;
    transition: text-align 0.2s;

    @media (min-width: 1277px) {
      text-align: left;
    }
  }

  @media (min-width: 1277px) {
    width: 15.875rem;
    margin-bottom: 1.5rem;
    padding: 24px 25px;
    background: $base-white;
    box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.15);
    border-radius: 0.5rem;
  }
}
