@import "./colors.scss";

.container {
	margin-top: 2rem;
}

.signup {
	min-height: 0vh;
}

.footer {
	font-size: 0.8rem;
	line-height: 26px;
	color: $base-gray;
	margin-top: 1.25rem;

	span {
		text-decoration: none;
		color: $base-blue;
		font-weight: 400;
		cursor: pointer;
	}
}

.twoFaInput {
	border: 2px solid $text-gray;
	border-radius: 0.5rem;
	width: 2.5rem;
	height: 2.8125rem;
	padding: 0.8rem;
}

.twoFaContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.enterCode {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.625rem;
	color: $base-gray;
	margin-top: 2rem;
	padding-bottom: 0.5rem;
	opacity: 0.6;
}
