@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import '~video-react/styles/scss/video-react';


*{
    box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "Inter", sans-serif !important;
}

h2{
	margin: 0;
}

div{
	margin:0
}

.ant-select{
	width: 100%;
	margin-top: 10px;
}

.ant-collapse-borderless{
	padding:0;
	background-color:transparent!important;
}

.ant-collapse-header{
	color:#8C8C8C;
	font-weight: 500;
	font-size:1rem;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header,.ant-collapse-content > .ant-collapse-content-box{
	padding-left:0;
	padding-right:0;
	color:#8C8C8C;

}

.ant-collapse-content > .ant-collapse-content-box{
	right:0;
}


.leftselectgroup{
    .ant-select:not(.ant-select-customize-input) .ant-select-selector:first-child{
        border-top-left-radius:8px;
        border-bottom-left-radius:8px;
		border:1px solid #BFBFBF;
    }
}
.rightselectgroup{
    .ant-select:not(.ant-select-customize-input) .ant-select-selector:first-child{
        border:1px solid #BFBFBF;
		border-top-right-radius:8px;
        border-bottom-right-radius:8px;
		border-left:none;
    }
}

sub{
	vertical-align: sub
}

sup{
	vertical-align: super
}

.ant-input,.ant-picker{
	border-radius: 8px;
	height:40px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
	border-radius: 8px;
	height:40px
}

.ant-select{
	margin-bottom: 20px;
}

.dsc{
	color:#8C8C8C;
	font-size: 12px;
	line-height: 18px;
}