@import "./colors.scss";
@import "./screens.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "Inter", sans-serif;
}

* {
	box-sizing: border-box;
}

.cursor {
	cursor: pointer;
}

.hidden {
	display: none;
}

.muted-text{
	color: #8C8C8C;

}

.row{
    --bs-gutter-x: 1.25rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/2);
    padding-left: calc(var(--bs-gutter-x)/2);
    margin-top: var(--bs-gutter-y);
}

.row:not(:first-child){
    margin-top: 20px;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.justify{
    display: flex;
    justify-content: space-between;
}

.col-1{
    flex: 0 0 auto;
    width:8.333333333333333%;
}

.col-2{
    flex: 0 0 auto;
    width:16.66666666666667%;
}

.col-3{
    flex: 0 0 auto;
    width:25%;
}

.col-4{
    flex: 0 0 auto;
    width:33.33333333333333%;
}

.col-5{
    flex: 0 0 auto;
    width:41.66666666666666%;
}

.col-6{
    flex: 0 0 auto;
    width:50%;
}

.col-6{
    flex: 0 0 auto;
    width:50%;
}

.col-7{
    flex: 0 0 auto;
    width:58.33333333333333%;
}

.col-8{
    flex: 0 0 auto;
    width:66.66666666666666%;
}

.col-9{
    flex: 0 0 auto;
    width:75%;
}

.col-10{
    flex: 0 0 auto;
    width:83.33333333333333%;
}

.col-11{
    flex: 0 0 auto;
    width: 91.66666666666666%;
}

.col-12{
    flex: 0 0 auto;
    width: 100%;
}


.highlight{
    background: #F5F5F5;
    padding: 16px 27px;
}

.text-label{
    margin:0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top:10px;
}

.divider{
    height:1px;
    background: #D9D9D9;
    margin:20px 0;

}

.center{
    text-align: center;
}

.form-desc-txt{
    font-weight: 400;
    font-size: 12px;
    color:#8C8C8C;
    margin:0
}