@use "colors";
@use "mixins";

.header {
  margin-bottom: 32px;

  > h1 {
    font-weight: 600;
    font-size: 24px;
    color: colors.$black-100;
  }
}

.table__section [class="ant-table-content"] {
  overflow-x: auto;
}

.content {
  margin-bottom: 40px;

  p {
    margin-bottom: 0;
    text-align: center;

    &:first-child [class="ant-typography"] {
      font-weight: 600;
      font-size: 30px;
      color: colors.$black-100;
    }

    &:last-child [class="ant-typography"] {
      font-weight: 400;
      font-size: 16px;
      color: colors.$gray-200;
    }
  }
}
