@use "colors";
@use "mixins";
@use "screens";

.header {
  margin-bottom: 32px;
  @include mixins.flex(column, space-between, flex-start);
  row-gap: 33px;

  div {
    text-align: center;
    width: 100%;

    h2 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 25px;
      color: colors.$black-100;
    }

    p {
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      color: colors.$gray-200;
    }
  }

  + section {
    margin-bottom: 50px;
  }
}

@include screens.minScreen("tablet") {
  .header {
    flex-direction: row;
    margin-bottom: 50px;

    div {
      margin-left: -84px;
    }
  }
}
