@use 'colors';
@use 'screens';

.tabs {
	div[class='ant-tabs-nav'] {
		margin-bottom: 40px;
		border-radius: 8px;
		background-color: colors.$base-white;

		&::before {
			border: none;
		}

		div[class^='ant-tabs-ink-bar']:last-child {
			height: 4px;
		}
	}

	div[class='ant-tabs-tab-btn'] {
		color: colors.$base-gray;
		font: {
			weight: 500;
			size: 16px;
		}
	}

	div[class$='ant-tabs-tab-active'] div[class='ant-tabs-tab-btn'] {
		color: colors.$base-blue;
	}
}

.addPasswordModal {
	h3 {
		font-weight: 600;
		font-size: 30px;
		line-height: 1.875rem;
		text-align: center;
		color: #262626;
	}
	h5 {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 32px;
		text-align: center;
		color: #262626;
	}
	p {
		font-weight: 500;
		font-size: 1rem;
		line-height: 26px;
		text-align: center;
		color: #8c8c8c;
	}
	.error {
		background: rgba(255, 77, 79, 0.1);
		border-radius: 4px;
		margin-block: 1rem;
		padding-inline: 1rem;
		padding-block: 0.7rem;
		p {
			color: #ff4d4f;
			font-weight: 600;
			font-size: 0.7rem;
			padding: 0.5rem;
		}
	}
	.buttonSubmit {
		width: 50%;
	}
}

@include screens.screen('x-large') {
	.tabs {
		div[class='ant-tabs-nav'] {
			padding-left: 7px;
			padding-right: 7px;

			div[class='ant-tabs-nav-wrap']:first-child {
				justify-content: flex-start;
			}
		}

		div[class='ant-tabs-tab'] + div[class='ant-tabs-tab'],
		div[class='ant-tabs-tab ant-tabs-tab-active']
			+ div[class='ant-tabs-tab'],
		div[class='ant-tabs-tab']
			+ div[class='ant-tabs-tab ant-tabs-tab-active'] {
			margin-left: 5px;
		}

		div[class='ant-tabs-tab-btn'] {
			padding: 8px;
			border-radius: 8px;
			background-color: colors.$white-200;
		}

		div[class$='ant-tabs-tab-active'] div[class='ant-tabs-tab-btn'] {
			background-color: colors.$blue-100;
		}
	}
}
