@use "screens";

.card {
  border-radius: 8px;
  max-width: 1110px;
  margin: 0 auto 85px;

  div[class="ant-card-body"] {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.tabs {
  div[class="ant-tabs-nav"] {
    margin-bottom: 40px;

    div[class^="ant-tabs-ink-bar"] {
      height: 4px;
    }
  }

  div[class="ant-tabs-tab-btn"] {
    font-size: 16px;
  }
}

@include screens.minScreen("medium-large") {
  .card div[class="ant-card-body"] {
    padding-left: 50px;
    padding-right: 50px;
  }
}
