@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.container2 {
	@media (max-width: 700px) {
		width: 130vh;
	}

	header {
		height: 90px;

		// border: 1px solid black;
		.left {
			flex: 1;
		}

		.middle {
			flex: 1;
			justify-content: center;

			.outlinedBtn {
				border: 1px solid #0072ef;
				color: #0072ef;
			}
		}

		.right {
			flex: 1;

			.outlinedBtn {
				border: 1px solid #0072ef;
				color: #0072ef;
			}
		}

		.previewTitle {
			color: #262626;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 40px;
			/* or 167% */

			text-align: center;
		}
	}

	section {
		padding: 1rem 4rem;
		background: #e5e5e5;
		min-height: calc(100vh - 90px);

		@include screen('x-large') {
			padding: 1rem 2.2rem;
		}

		.largeScreen {
			@include screen('inbetween') {
				display: none;
			}

			.left {
				.card {
					.mainTitle {
						font-weight: 600;
						font-size: 1.5rem;
						line-height: 32px;
						color: #0072ef;

						@include screen('x-large') {
							font-size: 1.4rem;
						}
					}

					.accordion {
						padding: 1rem 0.5rem;

						.accordionItem {
							.accordionTitle {
								padding-block: 0.7rem;
								width: 100%;
								justify-content: space-between;

								.title {
									font-weight: 600;
									font-size: 24px;
									line-height: 32px;
									color: #262626;
								}

								.icon {
								}
							}

							.accordionContent {
								.subTextContainer {
									margin-block-end: 1rem;

									.subText {
										font-weight: 500;
										font-size: 1.25rem;
										line-height: 30px;
										color: #595959;
									}
								}

								.activeSublist {
									background: #e6f7ff;
									border-radius: 8px;
									padding: 0.5rem;
								}
							}
						}
					}
				}
			}

			.right {
				.card {
					.sectionName {
						font-weight: 500;
						font-size: 1.25rem;
						line-height: 30px;
						color: #595959;
					}

					.sectionTitle {
						font-weight: 600;
						font-size: 1.5rem;
						line-height: 32px;
						color: #262626;
					}
				}
			}
		}

		.card {
			border-radius: 8px;
			padding: 1rem;

			@include screen('x-large') {
				padding: 0.2rem;
			}
		}

		.mobile {
			display: none;

			@include screen('inbetween') {
				display: block;
			}

			.mainTitle {
				font-weight: 600;
				font-size: 1.5rem;
				line-height: 32px;
				color: #0072ef;
			}

			.mainSections {
				.title {
					&.active {
						border: 1px solid black;
						border-radius: 8px;
					}

					font-weight: 600;
					font-size: 1.5rem;
					line-height: 32px;
					color: #262626;
				}
			}

			.subSection {
				.sections {
					font-weight: 500;
					font-size: 1.25rem;
					line-height: 30px;
					color: #595959;

					&.active2 {
						background: #e6f7ff;
						border-radius: 8px;
						color: #0072ef;
					}
				}
			}

			.card {
				min-height: 300px;

				h3 {
					font-weight: 500;
					font-size: 1.25rem;
					line-height: 30px;
					color: #595959;
				}

				h2 {
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 32px;
					color: #262626;
				}

				h1 {
					font-weight: 700;
					font-size: 1.75rem;
					line-height: 40px;
					color: #262626;
				}

				p {
					font-weight: 400;
					font-size: 0.875rem;
					line-height: 24px;
					color: #595959;
				}
			}
		}
	}
}

.manageMembershipContainer {
	background: #ffffff;
	border-radius: 8px;
	cursor: pointer;
}

.manageMembershipText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #595959;
}

.membershipHeader {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	/* or 143% */
	color: #262626;
	text-align: center;
}

.manageContainer {
	width: 554px;
	height: 453px;
	box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
	border-radius: 8px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	padding: 60px 80px;
	gap: 10px;
}

.manageContainerText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 40px;
	color: #262626;
}

.membershipAmount {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	/* or 133% */

	// text-align: center;
	color: #00b140;
}

.frequency {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #262626;
}

.frequencyInput {
	background: #f5f5f5;
	padding: 13px 33px 13px 16px;
	width: 400px;
	height: 40px;
}
