@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.container2 {
	@media (max-width: 700px) {
		width: 130vh;
	}

	position: relative;

	header {
		height: 90px;

		// border: 1px solid black;
		.left {
			flex: 1;
		}

		.middle {
			flex: 1;
			justify-content: center;

			.outlinedBtn {
				border: 1px solid #0072ef;
				color: #0072ef;
			}
		}

		.right {
			flex: 1;

			.outlinedBtn {
				border: 1px solid #0072ef;
				color: #0072ef;
			}
		}

		.previewTitle {
			color: #262626;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 40px;
			/* or 167% */

			text-align: center;
		}
	}

	section {
		padding: 1rem 4rem;
		background: #e5e5e5;
		min-height: calc(100vh - 90px);

		@include screen('x-large') {
			padding: 1rem 2.2rem;
		}

		.largeScreen {
			@include screen('inbetween') {
				display: none;
			}

			.left {
				.card {
					height: 100%;
					overflow-y: scroll;
					position: relative;
					.mainTitle {
						font-weight: 600;
						font-size: 24px;
						line-height: 32px;
						color: #0072ef;

						@include screen('x-large') {
							font-size: 1.4rem;
						}
					}

					.accordion {
						padding: 1rem 0.5rem;

						.accordionItem {
							.accordionTitle {
								padding-block: 0.7rem;
								width: 100%;
								justify-content: space-between;

								.title {
									font-weight: 600;
									font-size: 20px;
									line-height: 32px;
									color: #262626;
								}

								.icon {
									display: flex;
									align-items: center;
									justify-content: center;
								}
							}

							.accordionContent {
								.subTextContainer {
									margin-block-end: 1rem;

									.subText {
										font-weight: 500;
										font-size: 16px;
										line-height: 30px;
										color: #595959;
									}
								}

								.activeSublist {
									background: #e6f7ff;
									border-radius: 8px;
									padding: 0.5rem;
								}
							}
						}
					}
				}
			}

			.right {
				.card {
					.sectionName {
						font-weight: 500;
						font-size: 1.25rem;
						line-height: 30px;
						color: #595959;
					}

					.sectionTitle {
						font-weight: 600;
						font-size: 1.5rem;
						line-height: 32px;
						color: #262626;
					}
				}
			}
		}

		.card {
			border-radius: 8px;
			padding: 1rem;

			@include screen('x-large') {
				padding: 0.2rem;
			}
		}

		.mobile {
			display: none;

			@include screen('inbetween') {
				display: block;
			}

			.mainTitle {
				font-weight: 600;
				font-size: 1.5rem;
				line-height: 32px;
				color: #0072ef;
			}

			.mainSections {
				.title {
					&.active {
						border: 1px solid black;
						border-radius: 8px;
					}

					font-weight: 600;
					font-size: 1.5rem;
					line-height: 32px;
					color: #262626;
				}
			}

			.subSection {
				.sections {
					font-weight: 500;
					font-size: 1.25rem;
					line-height: 30px;
					color: #595959;

					&.active2 {
						background: #e6f7ff;
						border-radius: 8px;
						color: #0072ef;
					}
				}
			}

			.card {
				min-height: 300px;

				h3 {
					font-weight: 500;
					font-size: 1.25rem;
					line-height: 30px;
					color: #595959;
				}

				h2 {
					font-weight: 600;
					font-size: 1.5rem;
					line-height: 32px;
					color: #262626;
				}

				h1 {
					font-weight: 700;
					font-size: 1.75rem;
					line-height: 40px;
					color: #262626;
				}

				p {
					font-weight: 400;
					font-size: 0.875rem;
					line-height: 24px;
					color: #595959;
				}
			}
		}
	}
}

.manageMembershipContainer {
	background: #f0f0f0;
	border-radius: 8px;
	cursor: pointer;
	position: fixed;
	top: 90%;
	z-index: 99;
	width: 400px;
}

.manageMembershipText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	color: #595959;
}

.membershipHeader {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	/* or 143% */
	color: #262626;
	text-align: center;
}

.manageContainer {
	width: 554px;
	// height: 550px;
	box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
	border-radius: 8px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	padding: 60px 80px;
	gap: 10px;
}

.manageContainerText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 40px;
	color: #262626;
}

.membershipAmount {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	/* or 133% */

	// text-align: center;
	color: #00b140;
}

.frequency {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #262626;
}

.frequencyInput {
	background: #f5f5f5;
	padding: 13px 33px 13px 16px;
	width: 400px;
	height: 40px;
}

.emailInput {
	// background: #f5f5f5;
	padding: 13px 33px 13px 16px;
	width: 400px;
	height: 40px;
	border: 1px solid #8c8c8c;
	border-radius: 5px;
}

.cardDetailsContainer {
	margin-top: 24px;
}

.cardDetailsLeft {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #262626;
}

.cardDetailsRight {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #f5222d;
}

.cardContainer {
	// margin-top: 26px;
}

.cardImageContainer {
	border: 1px solid #8c8c8c;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardTextType {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #262626;
	margin-bottom: 0;
}

.cardTextExpiry {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #595959;
	margin-bottom: 0;
}

.cancelMembershipContainer {
	margin-top: 20px;
	border: 1px solid #ff4d4f;
	padding: 10px 0px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}

.cancelMemberShipText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #ff4d4f;
	margin-bottom: 0;
}

.cancelMembershipModal {
	background-color: rgba(0, 0, 0, 0.62);
}

.cancelPromptModal {
	width: 380px;
	border-radius: 8px;
	text-align: center;
	padding: 24px;
	box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.15);
}

.cancelPromptTitle {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #595959;
}

.cancelPromptText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #8c8c8c;
}

.cancelPromptRedText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #ff4d4f;
}

.canceBtn {
	padding: 16px 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f5f5f5;
	border-radius: 8px;
	cursor: pointer;
}

.cancelText {
	margin-bottom: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
}

.canceBtnRed {
	padding: 16px 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #ff4d4f;
}

.cancelRedText {
	color: #ff4d4f;
	margin-bottom: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
}

.successCancelPromptModal {
	width: 768px;
	height: 502px;
	border-radius: 8px;
	text-align: center;
	padding: 60px 60px;
	box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.15);
	background: #ffffff;
}

.unSubscribeText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 0;
}

.unSubscribeDetails {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 0;
	margin-top: 17px;
	color: #8c8c8c;
}

.audio {
	width: 677px;
	height: 64px;
	margin: 0 auto;
}

.previewVideo {
	width: 671px;
	height: 433px;
	margin: 0 auto;
}
//verify email modal styles

.modal {
	padding: 1rem 2.3rem;
	.header {
		& > h2 {
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 32px;
			text-align: center;

			color: #262626;
		}
		& > p {
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 24px;
			text-align: center;
			color: #595959;
		}
	}
	.modalBody {
		margin-top: 1rem;
		.preorder {
			background: #fffdd0;
			color: #ff5c00;
			padding: 1rem;
			margin-bottom: 1rem;
			& > h5 {
				color: inherit;
				font-weight: 500;
				font-size: 1rem;
				line-height: 26px;
			}
			& > p {
				color: inherit;
				font-weight: 400;
				font-size: 0.75rem;
				line-height: 18px;
			}
		}
	}
}

.modalContainer {
	padding: 1rem 2.5rem;
	.modal {
		padding-bottom: 5rem;
		padding-top: 2rem;
		padding-inline: 3.5rem;
		h1 {
			font-weight: 600;
			font-size: 1.25rem;
			line-height: 32px;
			color: #262626;
			text-align: center;
		}
		.socialMediaContainer {
			// border: 1px solid;
			padding-block: 1.6rem;
			text-align: center;
		}
		p {
			font-weight: 500;
			font-size: 1rem;
			line-height: 26px;

			color: #262626;
		}
	}
}
