@import "./colors.scss";
@import "./screens.scss";

.container {
  background-color: $white-200;
  min-height: 100vh;
  // padding: 1rem 10.31rem;

  .login {
    width: 100%;
    padding: 0 1rem;

    &.loginBtnStyle {
      border: none;
      color: #8c8c8c;
    }
  }

  .select {
    width: 15%;
    @include screen("medium") {
      width: 30%;
    }
  }

  // nav {
  //   border: 1px solid red;
  // }
}

.productCardBtn {
  height: 2rem;

  @include screen("small") {
    height: 1.5rem;
    width: 60%;
  }

  @include screen("x-small") {
    height: 1.5rem;
    width: 55%;
  }
}

.productImg {
  border-radius: 0.5rem;
}

.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.sellingPrice {
  font-size: 1.2rem !important;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.originalPrice {
  font-weight: 0.6rem;
  text-decoration: line-through;
}

.bioData {
  p {
    // border: 1px solid red !important;
    background: rgba(255, 255, 255, 0.80059);
    padding: 1rem;
    text-align: justify;
    border-radius: 10px;
    max-width: 1050px;
    margin: 4rem auto;
    box-shadow: 0px 20px 27px rgb(0 0 0 / 5%);
  }
}
