.form_container{
    padding:0 0 0 40px;

    .form_desc_txt{
        font-size: 12px;
        color:#8C8C8C;

        a{
            text-decoration: none;
            color:#0072EF;
        }
    }

    .section_title{
        font-weight: 500;
        color:#262626;
        margin: 10px 0;
    }
}