@import './colors.scss';
@import './screens.scss';
@import './mixins.scss';

.container {
	background-color: $white-200;
	min-height: 100vh;
	// padding: 1rem 10.31rem;
	position: relative;
	.login {
		width: 100%;
		padding: 0 1rem;

		&.loginBtnStyle {
			border: none;
			color: #8c8c8c;
		}
	}

	.select {
		// width: 15%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include screen('medium') {
			// width: 30%;
		}

		& svg + div {
			width: 100% !important;
			& > div {
				padding: 2px 5px !important;
			}
		}
		& + .btnsContainer {
			display: flex;
			align-items: center;
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	// nav {
	//   border: 1px solid red;
	// }
}

.modalContainer {
	padding: 1rem 2.5rem;
	.modal {
		padding-bottom: 5rem;
		padding-top: 2rem;
		padding-inline: 3.5rem;
		h1 {
			font-weight: 600;
			font-size: 1.25rem;
			line-height: 32px;
			color: #262626;
			text-align: center;
		}
		.socialMediaContainer {
			// border: 1px solid;
			padding-block: 1.6rem;
			text-align: center;
		}
		p {
			font-weight: 500;
			font-size: 1rem;
			line-height: 26px;

			color: #262626;
		}
	}
}

.productCardCtn {
	color: #262626;
	text-overflow: ellipsis;

	.productStatus {
		.status {
			&.inStock {
			}
			&.outOfStock {
			}
		}
		.amountSold {
			font-weight: 400;
			font-size: 1rem;
			line-height: 26px;
			color: #8c8c8c;
		}
	}
	.productName {
		font-weight: 700;
		font-size: 18px;
	}
	&:hover {
		border: 1px solid #0072ef;
		box-shadow: 0px 10px 30px rgba(0, 114, 239, 0.2);
		color: #0072ef;
	}
}

.productCardBtn {
	height: 2rem;
	text-transform: uppercase;

	@include screen('small') {
		height: 1.5rem;
		width: 60%;
	}

	@include screen('x-small') {
		height: 1.5rem;
		width: 55%;
	}
}

.productImg {
	border-radius: 0.5rem;
}

.link__container {
	margin-top: 10px;
	max-width: 790px;
	@include flex(row, flex-start, center);
}

.link {
	height: 45px;
	width: 100%;
	// max-width: 670px;
	padding: 10px 15px;
	border: 1px solid $base-blue;
	border-radius: 8px 0px 0px 8px;
	background-color: $base-green-300;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;

	& > span {
		color: $black-100;
		font-size: 18px;
		line-height: 1;
	}
}

.link__btn {
	height: 45px;
	padding: 0.3rem;
	border-radius: 0px 8px 8px 0px;
	border: 1px solid $base-blue;
	color: $base-blue;
	font-weight: bold;
	font-size: 12px;
	line-height: 1;
	background: $base-blue !important;
	color: #fff;
	min-width: 8% !important;
}

p.makeItFreeText {
	background: #2cbf70 !important;
	padding: 0.2rem 1rem;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #fff !important;
	&:hover {
		color: #fff !important;
	}
}
.main {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	text-overflow: ellipsis;
	word-wrap: break-word;

	p {
		overflow-wrap: inherit;
		text-overflow: ellipsis !important;

		white-space: pre-wrap;
		word-break: break-word;
		word-wrap: break-word;
		@media (max-width: 400px) {
			// max-width: 90px;
		}
		// &:nth-child(2) {

		// }
	}
}

.sellingPrice {
	font-weight: bold;
	font-size: 1.2rem !important;
	margin-bottom: 0.2rem;
}

.originalPrice {
	font-weight: 0.6rem;
	text-decoration: line-through;
}

.bioData {
	p {
		// border: 1px solid red !important;
		// background: rgba(255, 255, 255, 0.80059);
		padding: 1rem;
		text-align: justify;
		border-radius: 10px;
		// max-width: 1050px;
		width: 81%;
		margin: 4rem auto;
		@media (max-width: 768px) {
			// padding-top: unset;
			position: relative;
			top: -40px;
		}
	}
}

.cardBox {
	word-wrap: break-word;
}

.mobileMenuCont {
	// display: none;
	margin-right: 2rem;
	cursor: pointer;
	color: $base-blue !important;
	.hamburgerDefault {
		// width: 1.875rem;
		height: 3px;
		// * initial width: 1.875rem and height: 3px;
		width: 26.67px;
		// height: 18.67px;
		background: $base-gray;
		border-radius: 5px;
		transition: all 0.5s ease-in-out;
		padding: 0;
		position: fixed;
		z-index: 10000;
		background: #0072ef;
	}

	.hamburger {
		@extend .hamburgerDefault;
		// color: $base-blue !important;
		background-color: $base-blue;
		&::before {
			content: '';
			position: absolute;
			@extend .hamburgerDefault;
			background-color: $base-blue;
			// color: $base-blue !important;
			transform: translateY(-9px);
		}

		&::after {
			content: '';
			position: absolute;
			@extend .hamburgerDefault;
			background-color: $base-blue;
			// color: $base-blue !important;
			transform: translateY(9px);
		}
	}

	&.open .hamburger {
		transform: translateX(-50px);
		background: transparent;
		box-shadow: none;
		margin-bottom: 0.7rem;
	}

	&.open .hamburger::before {
		background-color: $base-gray !important;
		transform: rotate(45deg) translate(35px, -35px);
	}

	&.open .hamburger::after {
		background-color: $base-gray !important;
		transform: rotate(-45deg) translate(35px, 35px);
	}
}

.mobileDropView {
	padding: 24.5px;
	// border: 1px solid red;
	min-height: 200vh;
	// position: absolute;
	position: fixed;
	z-index: 800;
	left: 0;
	right: 0;
	top: 42px;
	background-color: #fff;
	@media (min-width: 1024px) {
		display: none;
	}

	&.isVariant {
		top: 90px;
		margin-top: unset;
		// &.noDp {
		// border: 10px solid red;
		.profile {
			margin-top: 31px !important;

			padding-left: 2rem !important;
			display: flex;
			margin-left: 4rem !important;
			align-items: center;
		}
		// }

		@media (max-width: 768px) {
			.text {
				font-size: 2rem;
				line-height: 1.6;
				margin-top: 3rem;
				margin-bottom: 4rem;
				p {
					font-size: 2rem;
					line-height: 1.5;
				}
			}

			.mobileInput {
				// margin-bottom: 2rem;
				input {
					font-size: 1.2rem;
				}
			}

			.mobileButton {
				button {
					font-size: 1.9rem;
				}
			}

			.benefits {
				font-size: 1rem;
			}
		}
	}

	.profile {
		margin-top: 31px;
		// border: 1px solid green;
		// width: 100%;
		padding-left: 2rem;
		display: flex;
		margin-left: 4rem;
		align-items: center;
		// margin-top: unset;
		// padding-left: unset;
		// margin-left: unset;

		&.noDp {
			// margin-top: unset;
			// padding-left: unset;
			// margin-left: unset;
			> div {
				margin-right: 1rem;
			}
		}
		> div {
			max-width: 64px;
			max-height: 64px;
			left: 2rem !important;
			top: 2rem !important;
			// position: unset !important;
			// border: 1px solid red;
			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}
		p {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			margin: unset;
			/* or 133% */

			font-feature-settings: 'liga' off;

			/* Gray / gray-8 PRIMARY TEXT */

			color: #595959;
		}
	}

	.storeLink {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16.0909px;
		line-height: 24px;
		/* or 150% */
		display: flex;
		align-items: center;
		/* Gray / gray-7 SECONDARY TEXT */
		text-transform: uppercase;
		color: #8c8c8c;
		padding-bottom: 13px;
		margin-bottom: 20px;
		border-bottom: 0.5px solid #d9d9d9;
		// border-bottom: 1px solid blue;
		> svg {
			color: inherit !important;
		}

		span {
			margin-right: 8px;
		}

		@media (max-width: 768px) {
			// width: 200px;
			height: 100px;
			span {
				font-size: 1.2rem;
			}
		}
	}

	.text {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 800;
		font-size: 28px;
		line-height: 40px;
		/* or 143% */

		text-align: center;
		font-feature-settings: 'liga' off;

		/* Gray / gray-9 TITLE UI TEXT */

		color: #262626;

		span {
			color: #0072ef;
		}

		p {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			/* or 156% */

			text-align: center;

			/* Gray / gray-7 SECONDARY TEXT */

			color: #8c8c8c;
		}
	}
	.mobileInput {
		input {
			padding: 19.5px 16px;
			margin-bottom: 16px;
		}
	}
	.mobileButton {
		.freeBtn {
			width: 100%;
			height: 3.75rem;
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 1.875rem;
		}
	}
	.benefits {
		@include flex(row, center, null);
		margin-top: 0.6rem;
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 0.9375rem;
		color: #8c8c8c;
		.benefitSpan {
			padding: 0 0.4rem;
		}
	}
}

.mobileNav {
	// border: 1px solid red;
	position: fixed;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
}
