@import '../css//mixins.scss';
@import '../css//colors.scss';
@import '../css//screens.scss';

.cardResponsDiv {
	margin: 15px 0px 10px 0px;
	background: white;
	border-radius: 0.5rem;
	padding: 2rem;
	.ticketDetails {
		border-bottom: 1px solid #d9d9d9;
		.ticketDetail {
			.title {
				margin-bottom: 0px;
				font-weight: 400;
				font-size: 0.875rem;
				line-height: 24px;
				color: #8c8c8c;
			}
			.value,
			.value2 {
				font-weight: 500;
				font-size: 1.25rem;
				line-height: 30px;
				color: #262626;
			}
			.value2 {
				color: #595959;
			}
			.status {
				border-radius: 0.5rem;
				font-weight: 400;
				font-size: 1rem;
				line-height: 24px;
				padding: 0.3rem 1rem;
			}

			.closed {
				background: rgba(255, 77, 79, 0.1);
				color: #f90005;
			}
			.open {
				background: #f1fcf8;
				color: #2dc071;
			}
		}
	}
	.complainContainer {
		background: #f5f5f5;
		border-radius: 8px;
		padding: 30px;
		.complain {
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 32px;
			color: #595959;
		}

		.complainDescription {
			transition: max-height 1s, opacity 0.1s;
			-webkit-transition: max-height 1s, opacity 0.1s;
			-moz-transition: max-height 1s, opacity 0.1s;
			-ms-transition: max-height 1s, opacity 0.1s;
			-o-transition: max-height 1s, opacity 0.1s;
			.description {
				font-weight: 500;
				font-size: 1.25rem;
				line-height: 30px;
				color: #8c8c8c;
			}
			&.block {
				// opacity: 1;
				max-height: 600px;
				overflow: hidden;
			}
			&.hidden {
				// opacity: 0;
				max-height: 0;
				overflow: hidden;
			}
		}
	}
	.adminResponse {
		.title {
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 32px;
			color: #262626;
		}
		.response {
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 30px;
			color: #595959;
			margin-bottom: 0;
			& > * {
				font-weight: 500;
				font-size: 1.25rem;
				line-height: 30px;
				color: #595959;
			}
		}
	}
	.attachments {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #595959;
		.files {
			.fileName {
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				color: #0072ef;
				cursor: pointer;
			}
		}
	}
}
.formContainer {
	position: relative;
	z-index: 1;
	padding: 3rem;
	margin-top: 1.5rem;
	background: #fff;
	border-radius: 0.5rem;
	margin-top: 1rem;
	border-radius: 8px;
	.labelStyle {
		font-weight: 500;
		font-size: 1rem;
		line-height: 26px;
		color: #262626;
	}
	@include screen('tablet') {
		padding: 1rem;
	}
}

.value2 {
	font-weight: 500;
	font-size: 20px;
	color: #595959;
	margin-bottom: 0;
}
