@use 'mixins';
@use 'colors';

.header {
	@include mixins.flex(row, space-between, center);
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.tableWrapper {
	margin-block: 1rem;
}

.exportDiv {
	margin-block-start: 2.7rem;
	margin-block-end: 1rem;
}
