@import "./mixins.scss";
@import "./colors.scss";
@import "./screens.scss";

.formStyle {
	@include flex(column, center, center);
	// width: 80%;
	width: 50%;
	height: 21.5rem;
	@include screen("medium") {
		min-height: 24rem;
	}
	@include screen("tablet") {
		min-height: 25rem;
		width: 100%;
	}
}

.welcome {
	text-align: center;
	// width: 45vw;

	@include screen("medium") {
		width: 75vw;
		padding-bottom: 2rem;
	}

	.title {
		margin: 0;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: $black-100;
	}

	.mobileTitle {
		display: none;
		@extend .title;
		@include screen("tablet") {
			display: block;
			font-weight: 600;
		}
	}

	.webTitle {
		@extend .title;
		@include screen("tablet") {
			display: none;
		}
	}

	.base {
		margin: 0;
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 1.625rem;
	}

	.subTitle {
		@extend .base;
		margin-top: 0.5rem;
		color: $base-gray;
	}

	.label {
		@extend .base;
		margin-top: 1.8rem;
		text-align: start;
		color: $black-100;
		opacity: 0.6;
		font-weight: 500;
	}

	.selectCont {
		padding-bottom: 1rem;
	}

	.storePreviewLink {
		float: left;
		font-style: italic;
		color: $black-100;
		opacity: 0.6;
		font-size: 12px;
	}
}

.button {
	width: 100%;
	height: 2.5rem;
	font-size: 0.9rem;
	@include screen("tablet") {
		width: 100%;
	}
}
