@import "./mixins.scss";
@import "./colors.scss";

.formStyle {
	@include flex(column, center, center);
	width: 80%;
	height: 20rem;
	// height: 60vh;
}

.welcome {
	text-align: center;
	width: 45vw;

	h5 {
		margin: 0;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: $black-100;
	}

	.base {
		margin: 0;
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 1.625rem;
	}

	.subTitle {
		@extend .base;
		margin-top: 0.5rem;
		color: $base-gray;
	}

	.label {
		@extend .base;
		margin-top: 1.8rem;
		text-align: start;
		color: $black-100;
		opacity: 0.6;
	}
}

.button {
	width: 70%;
}
