@use 'public/css/colors';

.notes__btn {
	width: 40px;
	height: 40px;
	padding: 0;
	justify-content: center;
	border: none;
	border-radius: 8px;
	box-shadow: none;
	background-color: transparent;
}

.notes__btn--unread:hover {
	background-color: colors.$blue-100;
}

.notes__btn--read:hover {
	background-color: colors.$base-green-300;
}
