@import '../../public/css/colors.scss';
@import '../../public/css/mixins.scss';
@import '../../public/css/screens.scss';

.container {
	.heading {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 32px;
		text-align: center;
		color: $black-100;
		margin-top: 1rem;
	}
	.subtitle {
		font-weight: 500;
		font-size: 1rem;
		line-height: 26px;
		text-align: center;
		color: $gray-200;
	}

	@include screen('tablet') {
		width: 90%;
		margin: auto;
		.subtitle {
			font-size: 0.9rem;
		}
	}
}
