@import '../../public/css/colors.scss';
@import '../../public/css/mixins.scss';
@import '../../public/css/screens.scss';

.container {
	.export {
		h1 {
			font-weight: 500;
			font-size: 1rem;
			line-height: 26px;
			color: #8c8c8c;
		}
	}
	.selectRadius {
		& > div:first-child {
			border-radius: 8px !important;
		}
	}

	.status__btns {
		@include flex(row, flex-start, center);
		flex-wrap: wrap;
		gap: 10px;

		button {
			height: auto;
			padding-top: 8px;
			padding-bottom: 8px;
			background-color: transparent;
			border-radius: 8px;
			font-weight: 400;
			font-size: 14px;

			&:hover,
			&:active,
			&:focus {
				background-color: transparent;
				border: 1px solid $base-blue;
				color: $base-blue;
			}

			&[class$='ant-btn-primary']:hover,
			&[class$='ant-btn-primary']:active,
			&[class$='ant-btn-primary']:focus {
				color: $base-white;
			}
		}
	}
}
