@use 'public/css/mixins';
@use 'public/css/screens';
@use 'public/css/colors';

.header {
	margin: 20px 0;

	> span[class='ant-typography'] {
		margin-bottom: 10px;
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
	}
}

.productTypes {
	@include mixins.flex(column, space-between, flex-start);
}

.btn {
	box-shadow: none;
	border-radius: 8px;
	width: 500px;
	height: auto;
	padding: 20px 30px;
	color: #a6a6a6;
	font-weight: bold;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	svg {
		color: #323232;
		font-size: 30px;
		margin-right: 15px;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	&:hover {
		border-color: colors.$base-blue;
		color: colors.$base-blue;

		> span:first-of-type {
			color: colors.$base-blue;
		}

		svg {
			color: colors.$base-blue;
		}
	}

	> span:first-of-type {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		color: #323232;
		font-weight: bold;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
}

.active {
	border-color: colors.$base-blue;
	color: colors.$base-blue;

	> span:first-of-type {
		color: colors.$base-blue;
	}

	svg {
		color: colors.$base-blue;
	}
}
