@use "public/css/mixins";
@use "public/css/screens";

.header {
  @include mixins.flex(row, space-between, center);
  background-color: transparent;
  padding: 25px 10px;
  height: auto;
}

.nav_left {
  @include mixins.flex(row, flex-start, center);
}

.edit {
  @include mixins.flex(row, null, center);
  gap: 10px !important;
}

.mobileMenu {
  @include mixins.flex(row, flex-start, center);

  button {
    margin-right: 10px;

    svg {
      font-size: 30px;
    }
  }
}

.pageDot {
  display: none;
}

.nav_right {
  @include mixins.flex(row, flex-end, center);
  column-gap: 35px;

  > button {
    justify-content: center;
    height: auto;

    &:first-of-type {
      display: none !important;
    }
  }

  > [class^="ant-badge"] {
    line-height: normal;
    margin-right: 5px;
  }
}

.dropdown__btn {
  padding: 0;
}

@include mixins.minScreen("medium") {
  .nav_right > [class^="ant-badge"] {
    margin-right: 30px;
  }
}

@include screens.minScreen("x-large") {
  .header {
    padding: 25px;
  }

  .mobileMenu {
    display: none;
  }

  .pageDot {
    @include mixins.flex(row, space-between, center);
    gap: 10px;

    h1 {
      color: rgba(0, 114, 239, 1);
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      line-height: 1;
    }
  }

  .nav_right button {
    &:first-of-type {
      display: flex !important;
    }
  }
}
