.sidebar {
  max-height: 90vh;
  overflow: scroll;
  .menu {
    border: none;
    padding: 20px 10px;
    font-size: 14px;
    line-height: 24px;
    border-top: 1px solid #f5f5f5;
    color: rgba(140, 140, 140, 1);

    .subMenu {
      border-radius: 8px;
      margin-top: 15px;

      .icon {
        margin-right: 0.6rem;
      }
      .icon.helpIcon {
        border: 1px solid red;
      }

      &:hover {
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
        color: rgba(0, 114, 239, 1);
        transition: all 0.3s linear;
        .icon {
          background-color: #0072ef;
          transition: all 0.3s linear;
          padding: 0.5rem 0;
          margin-right: 0.6rem;
        }
        // * removed disappearing icons on hover
        // svg {
        //   path {
        //     fill: white;
        //   }
        // }
      }
    }

    // .closeIcon {
    //   color: red !important;
    // }
    .menuitem {
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 58px;
      padding-left: 30px;

      &:not(:first-child) {
        margin-top: 15px;
      }
      &:hover {
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
        color: rgba(0, 114, 239, 1);
        transition: all 0.3s linear;
        .icon {
          background-color: #0072ef;
          transition: all 0.3s linear;
        }
        // svg {
        //   path {
        //     fill: white;
        //   }
        // }
      }
    }

    .menuItem:hover .iconWrapper.isHelpIconCont {
      background-color: #0072ef !important;
      transition: all 0.3s linear;
      padding: 0.5rem 0;
      // margin-right: 0.6rem;

      svg {
        path {
          fill: white;
        }
      }
    }

    // .iconWrapper + span + svg {
    //   color: red !important;
    // }

    .active {
      box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
      color: rgba(0, 114, 239, 1);
      transition: all 0.3s linear;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 58px;
      padding-left: 30px;
    }

    li:not(.menuitem) {
      div {
        svg,
        span,
        i {
          vertical-align: middle;
          color: #a6b0cf;
        }
      }
    }

    // .ant-menu-item .ant-menu-item-icon + span,
    // .ant-menu-submenu-title .ant-menu-item-icon + span,
    // .ant-menu-item .anticon + span,
    // .ant-menu-submenu-title .anticon + span {
    //   margin-left: unset !important;
    // }
  }
}

.layoutMain {
  position: relative;
}

.mobileSideBar {
  border: 1px solid red;
  width: 372px;
  height: 100%;
  margin-top: 6rem;
  background-color: #ffffff;
  z-index: 300;
  position: absolute;

  .profile {
    border: 1px solid black;
    padding: 2rem;
    padding-right: 24px;
    padding-left: 24px;
  }
  @media (min-width: 992px) {
    display: none;
  }
}
