@import '../../public//css/colors.scss';
@import '../../public//css/mixins.scss';
@import '../../public//css/screens.scss';

.card {
	@include screen('tablet') {
		padding: 0.3125rem;
	}
}

.label {
	font-weight: 450;
	font-size: 0.875rem;
	line-height: 1.625rem;
	color: $black-100;
}

.container {
	.productTypeTab,
	.productTypeTabDisabled {
		border-radius: 0.5rem;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.625rem;
		color: $black-100;
		padding: 0.7rem 0 0.7rem 1.5rem;
		margin-bottom: 1.2rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		height: 130px;
		// transition: .3s all ease;
		position: relative;
		border: 2px solid $gray-100;
		span {
			color: $gray-200;
			font-weight: 400;
			padding-right: 0.75rem;
			font-size: 0.875rem;
		}
		h2 {
			margin-bottom: 0;
		}
		h3 {
			position: absolute;
			right: -2px;
			top: 4px;
			background-color: $base-green-100;
			padding: 1px 7px;
			color: $base-white;
			font-size: 0.55em;
			font-weight: 600;
			letter-spacing: 1px;
			border: 1px solid $green-200;
		}

		@include screen('inbetween') {
			font-size: 1.125rem;
			padding: 0;
			min-height: 8vh;
			justify-content: center;

			span {
				padding-left: 1rem;
				font-size: 0.8rem;
			}
			.mobileContainer {
				display: flex;
				flex-direction: column;
				.mobileSubTitle {
					padding-left: 0rem;
					font-size: 0.75rem;
				}
			}
		}
	}

	.productTypeTabDisabled {
		cursor: not-allowed;
		color: $gray-100;
		border: 2px solid $gray-100;
		span {
			color: $gray-200;
		}
		h3 {
			background-color: $green-200;
			color: $base-white;
			border: 1px solid $green-200;
		}
		h2 {
			color: $gray-200;
		}
	}
	.productTypeTab {
		&.active {
			border: 2px solid $base-blue;
			color: $base-blue;
			background: $blue-100;

			h2 {
				color: $base-blue;
			}
			span {
				color: $base-blue;
				font-weight: 400;
			}
		}
		&:hover {
			border: 2px solid $base-blue;
			color: $base-blue;

			span {
				color: $base-blue;
				font-weight: 400;
			}
		}

		&:hover {
			border: 2px solid $base-blue;
		}
	}
}

.businessPlan {
	background-color: $white-200;
	padding: 0.5em 0.5em 0.5em 2em;
	h2 {
		margin-bottom: 0px;
	}
}

.digitalDownload {
	.inputLabel {
		font-weight: 600;
		font-size: 16px;
		@extend .label;
	}
	.label2 {
		font-weight: 500;
		font-size: 1rem;
		color: #262626;
	}
	.inputCont {
		.input {
			height: 2.5rem;
			border: 1px solid $gray-100;
		}
	}
}
.upload {
	border: 2px dotted $base-blue;
	width: 100%;
	border-radius: 0.5rem;
	&.activeUpload {
		border-top: 8px solid #00b140;
	}
}
.uploadChart {
	width: 280px;
	height: 240px;

	margin-right: 8px;
	@include screen('tablet') {
		min-width: 100%;
	}

	// @media (min-width: 768px){
	// 	// position: relative;
	// 	// top: -79px;
	// 	// height: 100%;
	// 	height: 240px;
	// }
}
.uploadCont {
	flex-direction: column;
	height: 100%;
	display: flex;
	padding: 45px 0;
	cursor: pointer !important;
	h5 {
		margin-bottom: 8px;
	}
	button {
		font-weight: 500;
		width: 124px;
		height: 40px;
		border-radius: 8px;
		align-self: center;
	}
	@include screen('medium') {
		padding: 0.1rem 0;
	}
}
.fileUploader {
	position: relative;
	& > span {
		width: 100%;
		height: 100%;
		background-color: transparent;
		position: absolute;
		display: block;
		top: 0;
		z-index: 99;
		left: 0;
	}
}
.contentFileUpload {
	padding: 0.8em;
	margin-top: 1em;
	cursor: pointer;
	@extend .upload;

	p {
		color: $base-blue;
	}
}
.contentFileUploadDisabled {
	background-color: $white-200 !important;

	p {
		color: $gray-200 !important;
	}
}
.fileUpload {
	margin-top: 35px;
	.uploaded {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
		border-radius: 8px;
		background-color: $base-white;
		padding: 12px 24px;
		position: relative;

		& > span {
			width: 100%;
			height: 100%;
			background-color: rgba(34, 34, 34, 0.574);
			position: absolute;
			display: block;
			top: 0;
			z-index: 99;
			left: 0;
			border-radius: 8px;
		}
	}
	& > p {
		color: $base-green-100;
	}
}
.deleteFile {
	width: 32px;
	height: 32px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	padding: 4px;
	cursor: pointer;
}
.imageContent {
	width: 100%;
	height: 68px;
	border-radius: 8px;
	margin: 6px 0;
	padding: 8px 12px;
	& > div,
	img {
		border-radius: 8px;
	}
	.imageWrap {
		width: 52px;
		height: 52px;
		margin-right: 8px;
	}
}
.noImage {
	// border: 1px solid $gray-100;
	width: 435px;
	background: white;
	flex: 1;
	display: none;
	max-height: 240px;
	@include screen('laptop') {
		min-height: 20vh;
	}
}

.isImage {
	// border: 1px solid $gray-100;
	width: 435px;
	box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.1);
	background-color: rgba(34, 34, 34, 0.03);
	flex: 1;
	max-height: 240px;
	@include screen('laptop') {
		min-height: 20vh;
	}
	@include screen('medium-large') {
		width: 100% !important;
	}
}
.saveButton {
	margin: 24px auto 0;
	min-width: 10%;
	button {
		width: 180px;
		height: 52px;
		border-radius: 8px;
		text-align: center;
		font-weight: 700;

		justify-content: center;
		transform: translateX(-20px);
		background-color: $base-blue;
	}
}
.radioLabel {
	font-weight: 400 !important;
	color: $black-100 !important;
	font-size: 0.9rem !important;
}

.extralableStyle {
	font-weight: 400 !important;
	@include screen('medium') {
		font-size: 0.875rem !important;
	}
}

.enablePreOrderCont {
	// width: 28%;
	width: 35%;
	padding-top: 0.5rem;
	.inputHeight {
		height: 2.5rem;
		border: 1px solid $gray-100;
	}

	@include screen('tablet') {
		width: 100%;
	}
}

.digitalBtn {
	width: 15rem;
	height: 3.3rem;
	font-size: 1rem;
}
.errorContent {
	background-color: $error-bg;
	margin: 24px 0;
	display: flex;
	padding: 8px 8px 8px 32px;
	align-items: center;
	h2 {
		color: $error-main;
		margin-left: 24px;
		margin-bottom: 0;
	}
}

.mdBtn {
	position: relative;
	a {
		padding: 1em;
		font-size: 16px;
		height: 2.5em;
		font-weight: 600;
		background-color: $base-blue;
		color: $base-white;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.charLimit {
	color: red;
	font-size: 0.7rem;
	margin-left: 0.6rem;
	font-weight: bold;
	transition: all 0.2s;
}

.charLimit.normal {
	margin-left: unset;
	font-size: unset;
}

.showError {
	color: red;
	font-weight: 700;
	transition: all 0.2s;
}
