@import '../../public//css/colors.scss';
@import '../../public//css/mixins.scss';
@import '../../public//css/screens.scss';

.selectButton {
	width: 91px;

	div {
		border-radius: 8px !important;
		@include screen('inbetween') {
		}
	}
	& > div:first-child {
		height: 2.5rem;
	}
}
.inputButton {
	width: 86px;
	margin: 0 4px;
}
.addCurrency {
	width: 124px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.currencyHeader {
	font-weight: 500;
	font-size: 1rem;
	line-height: 26px;
	color: #8c8c8c;
}
.currencyField {
	width: 85%;
	border: 2px solid $gray-100;
	border-radius: 8px;
	min-height: 150px;
	padding: 14px 2em;

	.currencyButtons {
		background-color: $white-200;
		padding: 0.7em 1em;
		border-radius: 8px;
		display: flex;
		align-items: center;
		text-align: center;
		@include screen('inbetween') {
			& > h2 {
				font-weight: 400;
				font-size: 0.875rem;
				line-height: 24px;
				color: #8c8c8c;
			}
		}
		p {
			cursor: pointer;
		}
	}
}
.optionField {
	align-items: center;
	display: flex;
}

.countriesFlag {
	width: 15px;
	height: 15px;
	position: relative;

	img {
		border-radius: 50%;
	}
}

.charLimit {
	color: red;
	font-size: 0.7rem;
	margin-left: 0.6rem;
	font-weight: bold;
	transition: all 0.2s;
}

.charLimit.normal {
	margin-left: unset;
	font-size: unset;
}
