@import "../../public/css/colors.scss";
@import "../../public/css/mixins.scss";
@import "../../public/css/screens.scss";

.navContainer {
	@include flex(row, space-between, null);
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 10.31rem;
	position: fixed;
	top: 0;
	background-color: $base-white;
	z-index: 1;
	margin-bottom: 10rem !important;
}

.mobileMenuCont {
	display: none;
}

.navBg {
	border-bottom: 1px solid $border-gray;
}

.imgCont {
	width: 20%;
	cursor: pointer;
	@include flex(row, null, center);
}

.navLinks {
	@include flex(row, flex-end, center);
	width: 60%;
	padding-right: 3rem;

	ul {
		@include flex(row, space-around, null);
		list-style: none;
		padding: 0 1rem;
		width: 60%;
		font-style: normal;
		font-weight: 400;
		font-size: 0.8rem;
		line-height: 1.625rem;
		color: $base-gray;

		:hover {
			font-weight: 600;
		}

		li {
			cursor: pointer;
		}
	}
}

.mobileNavLinks {
	display: none;
}

.btnLinks {
	@include flex(row, null, center);
	width: 20%;
}

.loginBtn {
	margin-right: 1rem;
}

@include screen("tablet") {
	.navContainer {
		width: 100%;
		height: 5rem;
		padding: 0;
		padding: 1.187rem 1.5rem;
		// padding: 19px 24px;

		align-items: center;

		.mobileMenuCont {
			display: block;
			width: 10%;
			margin-right: 0.5rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.5rem;
			cursor: pointer;
			transition: all 0.5s ease-in-out;
			padding: 0.1rem;

			.hamburgerDefault {
				width: 1.875rem;
				height: 3px;
				background: $base-gray;
				border-radius: 5px;
				transition: all 0.5s ease-in-out;
				padding: 0;
				position: fixed;
				z-index: 10000;
			}

			.hamburger {
				@extend .hamburgerDefault;

				&::before {
					content: "";
					position: absolute;
					@extend .hamburgerDefault;
					transform: translateY(-9px);
				}

				&::after {
					content: "";
					position: absolute;
					@extend .hamburgerDefault;
					transform: translateY(9px);
				}
			}

			&.open .hamburger {
				transform: translateX(-50px);
				background: transparent;
				box-shadow: none;
			}

			&.open .hamburger::before {
				transform: rotate(45deg) translate(35px, -35px);
			}

			&.open .hamburger::after {
				transform: rotate(-45deg) translate(35px, 35px);
			}
		}

		.imgCont {
			min-width: 35%;
			padding: 0 1rem;
		}

		.navLinks {
			.categoryLinks {
				display: none;
			}
		}

		.mobileNavLinks {
			display: block;
			position: absolute;
			inset: 0;
			background: $base-white;
			width: 100%;
			height: fit-content;
			text-align: center;
			padding: 5rem 1rem;

			.mobileCategoryLinks {
				list-style: none;
				font-weight: 800;
				font-size: 1.875rem;
				line-height: 2.5rem;
				color: $base-blue;
				padding-right: 13%;

				li {
					padding-bottom: 3.5rem;
				}
			}
			.mobileInput {
			}
			.mobileButton {
				.freeBtn {
					width: 100%;
					height: 3.75rem;
					font-weight: bold;
					font-size: 1.25rem;
					line-height: 1.875rem;
				}
			}
			.benefits {
				@include flex(row, center, null);
				margin-top: 0.6rem;
				font-weight: 400;
				font-size: 0.75rem;
				line-height: 0.9375rem;
				color: #8c8c8c;
				.benefitSpan {
					padding: 0 0.4rem;
				}
			}
		}

		.btnLinks {
			width: 50%;
		}
	}
}
