@use "public/css/colors";
@use "public/css/screens";

.balance__info {
  max-width: 385px;
  margin: 0 auto;
  text-align: center;

  > div > p {
    margin-bottom: 0;

    > [class="ant-typography"] {
      font-weight: 400;
      font-size: 12px;
      color: colors.$gray-200;
    }
  }
}

.balance {
  margin-bottom: 10px;

  p {
    margin-bottom: 0;

    &:first-child {
      margin-bottom: 10px;
    }

    > [class="ant-typography"] {
      font-weight: 500;
      font-size: 16px;
      color: colors.$base-gray;
    }
  }
}

.value {
  font-weight: bold;
  font-size: 18px;
  color: colors.$base-blue;
}

.bank__info {
  margin-bottom: 10px;

  p {
    margin-bottom: 0;

    &:first-child {
      margin-bottom: 10px;
    }

    > [class="ant-typography"] {
      font-weight: 500;
      font-size: 16px;
      color: colors.$base-gray;
    }
  }
}

.divider {
  margin-top: 15px;
  border-top-color: colors.$white-300;
}

.footer {
  > p {
    margin-bottom: 25px;

    > [class="ant-typography"] {
      font-weight: 500;
      font-size: 16px;
      color: colors.$gray-200;
    }
  }
  > button {
    height: auto;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 14px;
  }
}

@include screens.minScreen("medium-large") {
  .modal div[class="ant-modal-body"] {
    padding: 70px;
  }
}
