@use 'public/css/mixins';
@use 'public/css/screens';

.header {
	@include mixins.flex(row, space-between, center);
	background-color: #fff;
	padding: 25px 10px;
	height: auto;
}

.edit {
	@include mixins.flex(row, null, center);
	gap: 10px !important;
}

.nav_right {
	@include mixins.flex(row, flex-end, center);
	column-gap: 35px;

	> button {
		justify-content: center;
		height: auto;

		&:first-child {
			display: none !important;
		}
	}
}

.dropdown__btn {
	padding: 0;
}

.authMenu {
	max-width: 200px !important;
	// border: 1px solid red;
	margin-left: auto;
}
@include screens.minScreen('tablet') {
	.header {
		padding: 25px;
	}

	.nav_right button {
		&:first-of-type {
			display: flex !important;
		}
	}
}

.lg {
	@media (max-width: 992px) {
		display: none;
	}
}
