@use "public/css/mixins";
@use "public/css/screens";

.header {
  @include mixins.flex(row, space-between, center);
  background-color: #fff;
  padding: 25px 10px;
  height: auto;
}

.edit {
  @include mixins.flex(row, null, center);
  gap: 10px !important;
}

.nav_right {
  @include mixins.flex(row, flex-end, center);
  column-gap: 35px;

  > button {
    justify-content: center;
    height: auto;

    &:first-child {
      display: none !important;
    }
  }

  > [class^="ant-badge"] {
    line-height: normal;
    margin-right: 5px;
    cursor: pointer;
  }
}

.dropdown__btn {
  padding: 0;
}

@include mixins.minScreen("medium") {
  .nav_right > [class^="ant-badge"] {
    margin-right: 30px;
  }
}

@include screens.minScreen("tablet") {
  .header {
    padding: 25px;
  }

  .nav_right > button:first-child {
    display: flex !important;
  }
}
