@use "public/css/colors";
@use "public/css/mixins";

.stats__header {
  @include mixins.flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  > [class="ant-typography"] {
    font-weight: 500;
    font-size: 16px;
    color: colors.$gray-200;
  }

  > a {
    font-weight: 700;
    font-size: 12px;
    color: colors.$base-blue;

    svg {
      display: inline;
      margin-bottom: 1px;
    }
  }

  a.notYetAnAffiliate {
    color: #bfbfbf !important;
  }
}
