@use 'public/css/colors';

.store__link {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	padding: 4px;
	background-color: colors.$base-green-300;
	color: colors.$base-blue;
	font-size: 16px;

	> svg {
		display: inline;
		font-size: 16px;
	}
}
