@use "public/css/colors";
// @use "public/css/screens";

.modal span[class^="anticon"] > svg {
  font-size: 30px;
}

.header {
  margin: 20px 0 20px;

  > div {
    width: 80px;
    margin: 0 auto;
  }
}

.footer {
  text-align: center;

  > button {
    font-weight: bold;
    font-size: 14px;
    color: colors.$base-white;
    padding-left: 40px;
    padding-right: 40px;
  }
}

// @include screens.minScreen("medium-large") {
//   .modal div[class="ant-modal-body"] {
//     padding: 90px;
//   }
// }
