@import '../../public/css/colors.scss';
@import '../../public/css/mixins.scss';

.tabContainer {
	.title {
		font-size: 4rem !important;
		font-weight: 800 !important;
		text-align: center !important;
		color: #d9d9d9 !important;
		// color: $gray-100;
		text-transform: uppercase !important;
		margin-block: 20px;
		@include screen('tablet') {
			font-size: 2.7rem !important;
			// font-size: 30px !important;
		}
	}
	.panelHeader {
		margin-bottom: 10px !important;
		box-shadow: 0px 20px 200px rgba(34, 34, 34, 0.05);
		.answer {
			// background: $base-white;
			background: #fff;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			padding-inline: 15px !important;
			color: #595959 !important;
			padding-block: 20px;
		}
	}
}
