@import '../../public/css/colors.scss';
@import '../../public/css/mixins.scss';
@import '../../public/css/screens.scss';

.chargeBackHeader {
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1rem;
	margin-bottom: 7px;

	@include screen('large') {
		display: grid;
		grid-template-rows: 3;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}
	@include screen('tablet') {
		display: grid;
		grid-template-rows: 3;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}
	.searchInput {
		margin-bottom: -15px;
		.searchLabel {
			margin-bottom: -5px;
			font-size: 14px;
			color: $gray-200;
		}
		.search {
			height: 48px;
			width: 100%;
		}
	}
	.selectDivStyle {
		width: 100%;

		.selectStyle {
			height: 50px;
			width: 100%;
		}
	}
	.fromDate {
		.dateLabel {
			margin-bottom: -5px;
			font-size: 14px;
			color: $gray-200;
		}
		.date {
			height: 50px;
			width: 100%;
		}
	}
}

.filterCont {
	cursor: pointer;
	// margin-bottom: -20px;
	width: 85px;
	transform: translateY(20px);
}
