@use "public/css/colors";
@use "public/css/mixins";
@use "public/css/screens";

%text {
  font-weight: 400;
  font-size: 14px;
  color: colors.$base-gray;
  white-space: pre-wrap;
}

.product__overview {
  border: 1px solid colors.$gray-100;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 50px;
}

.product__overview__img {
  margin-bottom: 25px;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
}

.product__overview__info {
  margin-bottom: 40px;

  > h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: colors.$black-100;
  }

  > p {
    margin-bottom: 0;

    > span[class="ant-typography"] {
      @extend %text;
    }
  }
}

.empty_image_Banner {
  @include mixins.flex(row, center, center);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);

  svg {
    font-size: 40px;
    color: #808080;
  }
}

.product_image {
  height: 100%;
}

.product__overview__stats {
  @include mixins.flex(row, flex-start, center);
  flex-wrap: wrap;

  > div {
    margin: 10px;
  }

  p {
    font-size: 20px;
    margin-bottom: 0;
  }

  p:last-child {
    font-size: 16px;
  }
}

.kreator__overview {
  border: 1px solid colors.$gray-100;
  border-radius: 8px;
  padding: 20px 10px;
}

.kreator__overview__title {
  text-align: center;
  background-color: colors.$base-green-300;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 0;
  }
}

.kreator__overview__image {
  @include mixins.flex(row, center, flex-start);
  margin-bottom: 20px;
}

.image {
  border-radius: 8px;
}

.bg__color {
  @include mixins.flex(row, center, center);
  background-color: rgba(0, 0, 0, 0.05);

  svg {
    font-size: 45px;
    color: #808080;
  }
}

.kreator__overview__info {
  margin-bottom: 20px;

  h3 {
    color: colors.$base-gray;
    font-size: 28px;
    margin-bottom: 8px;
  }

  a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 4px;
    background-color: colors.$base-green-300;
    color: colors.$base-blue;
    font-size: 16px;

    > svg {
      display: inline;
      font-size: 16px;
    }
  }
}

.kreator__overview__text p {
  margin-bottom: 0;

  > span[class="ant-typography"] {
    @extend %text;
  }
}

@include screens.minScreen("x-large") {
  .overview__container {
    display: grid;
    grid-template-columns: auto auto 370px;
    column-gap: 50px;
  }

  .product__overview {
    margin-bottom: 0;
    grid-column: 1 / 3;
  }

  .kreator__overview {
    grid-column: 3 / 4;
    padding: 20px 50px;
  }
}
