@use "public/css/colors";
@use "public/css/mixins";
@use "public/css/screens";

%text {
  font-weight: 400;
  font-size: 14px;
  color: colors.$base-gray;
  white-space: pre-wrap;
}

.product__overview {
  border: 1px solid colors.$gray-100;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 50px;
}

.product__overview__img {
  margin-bottom: 25px;
}

.empty__image__Banner {
  @include mixins.flex(row, center, center);
  height: calc(100vw - 82px * 1.745);
  max-height: 295px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  svg {
    font-size: 40px;
    color: #808080;
  }
}

.product__overview__info {
  margin-bottom: 40px;

  > h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: colors.$black-100;
  }

  > p {
    margin-bottom: 0;

    > span[class="ant-typography"] {
      @extend %text;
    }
  }
}

.kreator__overview {
  border: 1px solid colors.$gray-100;
  border-radius: 8px;
  padding: 20px 10px;
}

.kreator__overview__header {
  max-width: 270px;
  margin: 0 auto 20px;
}

.kreator__overview__title {
  text-align: center;
  background-color: colors.$base-green-300;
  margin-bottom: 20px;
  border-radius: 8px;

  h2 {
    margin-bottom: 0;
  }
}

.kreator__overview__image {
  margin-bottom: 20px;
  height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.empty__avatar {
  margin-bottom: 20px;
  height: 330px;
  @include mixins.flex(row, center, center);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  svg {
    font-size: 45px;
    color: #808080;
  }
}

.kreator__overview__info h3 {
  color: colors.$base-gray;
  font-size: 28px;
  margin-bottom: 8px;
}

.kreator__overview__bio p {
  margin-bottom: 0;

  > span[class="ant-typography"] {
    @extend %text;
  }
}

@include screens.minScreen("x-large") {
  .overview__container {
    display: grid;
    grid-template-columns: minmax(250px, 630px) minmax(120px, 400px);
    column-gap: 50px;
  }

  .product__overview {
    margin-bottom: 0;
    grid-column: 1 / 2;
  }

  .kreator__overview {
    grid-column: 2 / 3;
    padding: 20px 50px;
  }
}
