@use 'public/css/colors';
@use 'public/css/mixins';
@use 'public/css/screens';

.filterToggle {
	@include mixins.flex(row, flex-start, center);
	margin-bottom: 20px;

	:first-child {
		margin-right: 10px;
	}
}

.filtersContainer {
	width: 100%;
	// height: 75vh;
	// position: fixed;
	// bottom: -100%;
	left: 0;
	z-index: 4;
	// background-color: #fff;
	// padding: 65px 20px 10px;
	// border-radius: 40px 40px 0 0;
	// box-shadow: 0px -3px 19px -11px #000;
	// transition: bottom 0.1s ease-in;
}

.filtersContainerVisible {
	bottom: 0;
}

.closeFilter {
	position: absolute;
	top: 20px;
	right: 20px;

	svg {
		font-size: 30px;
	}
}

.input__wrapper {
	div[class$='ant-form-item-label'] {
		padding: 0;
	}

	label[for] {
		font-weight: 500;
		font-size: 16px;
		color: colors.$gray-200;
	}

	div[class^='ant-select'] > div[class='ant-select-selector'] {
		border-radius: 8px;
	}

	& div[class^='ant-picker'] {
		width: 100%;
	}
}

.filter__btn {
	margin-top: 30px;
	align-self: center;
	position: relative;
	top: -8px;

	@media (min-width: 992px) {
		top: unset;
		display: block;
		margin-top: 38px;
	}
	//
	div[class~='ant-form-item'] {
		margin-bottom: 0;
	}

	button {
		border-radius: 8px;
	}
}

.filtersContainer + .resetFilters {
	display: none;
}

.resetFilters button {
	background-color: transparent !important;

	svg {
		font-size: 20px;
		margin-right: 10px;
	}
}

@include screens.minScreen('x-large') {
	.filterToggle {
		display: none;
	}

	.filtersContainer {
		position: static;
		// display:none;
		height: auto;
		background-color: transparent;
		padding: 0;
		border-radius: initial;
		box-shadow: none;
		transition: initial;
	}

	.closeFilter {
		display: none !important;
	}

	.mdMargin {
		margin-bottom: 10px;
	}

	.lgMargin {
		margin-bottom: 30px;
	}

	.input__wrapper div[class~='ant-form-item'],
	.filter__btn {
		margin-bottom: 0;
	}

	.filtersContainer + .resetFilters {
		display: block;
	}

	.resetFilters {
		margin-bottom: 40px;
	}
}
