@use 'public/css/colors';
@use 'public/css/mixins';
@use 'public/css/screens';

.box {
	min-width: 260px;
	height: 100%;
	padding: 15px;
	background-color: #096dd9;
	border-radius: 8px;
	&.isAffiliate {
		background-color: #bfbfbf;
		.title {
			color: #8c8c8c;
			> span {
				color: #8c8c8c;
			}
		}
		.amount {
			color: #8c8c8c;
		}
	}
}

.title {
	margin-bottom: 12px;
	@include mixins.flex(row, space-between, center);
	column-gap: 10px;
	line-height: 1;

	> span {
		font-weight: 500;
		font-size: 16px;
		color: colors.$base-white;
	}

	button {
		height: auto;
		padding: 0;
		border: none;
		color: colors.$base-white;
		font-size: 20px;

		&:hover,
		&:active,
		svg {
			color: colors.$base-white;
		}
	}
}

.amount {
	margin-bottom: 12px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	color: colors.$blue-200;
	line-height: 1.1;
	word-break: break-all;
}

.no__select {
	user-select: none;
}

@include screens.minScreen('medium') {
	.title {
		justify-content: center;
	}
}

@include screens.minScreen('xx-large') {
	.box {
		padding: 30px 48px;
	}

	.title {
		margin-bottom: 16px;
	}

	.amount {
		margin-bottom: 16px;
		font-weight: 700;
		font-size: 40px;
		line-height: 1.6;
	}
}
