@use "public/css/colors";
@use "public/css/mixins";

.affiliate-page__footer {
  margin-bottom: 95px;
  @include mixins.flex(row, center, center);
  flex-wrap: wrap;
  gap: 5px 20px;

  > span {
    font-weight: 500;
    font-size: 20px;
    color: colors.$base-gray;
  }
}
