@use "public/css/colors";
@use "public/css/mixins";
@use "public/css/screens";

.product__detail {
  padding: 6px 10px;
  @include mixins.flex(row, flex-start, center);
  flex-wrap: wrap;
  gap: 2px 70px;

  &:nth-child(odd) {
    border-radius: 8px;
    background-color: colors.$white-200;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  strong {
    width: 115px;
    font-size: 14px;
    color: colors.$black-100;
  }

  &:not([class*="product__performance"]) span {
    font-size: 14px;
    color: colors.$base-gray;
  }
}

.product__performance span {
  font-size: 14px;
  display: inline-flex;
  column-gap: 15px;
}

@include screens.screen("medium") {
  .product__detail {
    padding-top: 4px;
    padding-bottom: 4px;
    column-gap: 10px;
  }
}
