@import "../../styles//colors.scss";
@import "../../styles//mixins.scss";

.styleDisplay {
	@include flex(column, center, center);
}

.modal {
	z-index: 1500;
	position: fixed;
	background: $modal-bg;
	inset: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
	width: 100vw;
}

.container {
	// width: 34rem;
	border-radius: 0.5rem;
	background-color: $base-white;
	min-height: 40%;
	min-width: 60%;
	overflow-y: auto;
}

.modalContent {
	padding: 2.875rem;
}
