@import '../../public//css/colors.scss';

.mdBtn {
	// border: 1px solid red;
	position: relative;

	@media (max-width: 380px) {
		width: 150px;
	}
	a {
		padding: 1em;

		font-size: 16px;
		height: 2.5em;
		font-weight: 600;
		background-color: $base-blue;
		color: $base-white;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 380px) {
			width: 100%;
		}
	}
}
