@use "public/css/colors";
@use "public/css/mixins";

.no__data {
  @include mixins.flex(column, space-between, center);
  row-gap: 10px;
  height: 300px;

  p {
    margin: 15px 0 0;
    color: colors.$black-100;
    font: {
      size: 18px;
      weight: bold;
    }
  }
}
