@import "../../styles//colors.scss";
@import "../../styles//mixins.scss";

.navContainer {
	@include flex(row, space-between, null);
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 10.31rem;
	border-bottom: 1px solid $border-gray;
}

.imgCont {
	width: 20%;
	cursor: pointer;
}

.navLinks {
	@include flex(row, space-between, center);
	width: 70%;

	ul {
		@include flex(row, space-around, null);
		list-style: none;
		padding: 0 1rem;
		width: 60%;
		font-style: normal;
		font-weight: 400;
		font-size: 0.8rem;
		line-height: 1.625rem;
		color: $base-gray;

		:hover {
			font-weight: 600;
		}

		li {
			cursor: pointer;
		}
	}
}

.btnLinks {
	display: flex;
}
.loginBtn {
	margin-right: 1rem;
}
