@import '../../public/css/colors.scss';
@import '../../public/css/mixins.scss';
@import '../../public/css/screens.scss';

.tabContainer {
	@include flex(row, flex-start, null);
	width: 100%;
	padding: auto;
	margin: 5px 0px;
	flex-wrap: wrap;

	.tabInner {
		margin-right: 10px;
		margin-bottom: 10px;
		.tabButton {
			border: none;
			border-radius: 9px;
			padding: 7px 15px;
			cursor: pointer;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #595959;
		}
	}
}
