@use 'public/css/colors';
@use 'public/css/mixins';
@use 'public/css/screens';

.histories {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 430px));
	justify-content: space-evenly;
	gap: 16px 20px;
}

.history {
	padding: 32px;
	background-color: colors.$base-white;
	border-radius: 8px;
}

.history__header {
	margin-bottom: 15px;
	@include mixins.flex(row, space-between, flex-start);
	gap: 15px 10px;

	> span {
		line-height: 1;
	}
}

.history__withdrawal-date {
	text-align: right;

	span {
		display: inline-block;
		margin-bottom: 5px;
		padding: 4px 8px;
		border-radius: 8px;
		font-size: 12px;
		color: colors.$base-blue;
		background-color: colors.$blue-100;
	}

	p {
		margin-bottom: 0;
		font-size: 14px;
		color: colors.$base-gray;
		line-height: 1;
	}
}

.history__detail {
	padding: 6px 10px;
	@include mixins.flex(row, flex-start, center);
	flex-wrap: wrap;
	gap: 2px 25px;

	&:nth-child(odd) {
		border-radius: 8px;
		background-color: colors.$white-200;
	}

	&:not(:last-of-type) {
		margin-bottom: 10px;
	}

	strong {
		flex: 0 0 135px;
		font-size: 14px;
		color: colors.$black-100;
	}

	span {
		font-size: 14px;
		color: colors.$base-gray;
	}
}

@include screens.screen('medium') {
	.history {
		padding: 32px 10px;
	}

	.history__header {
		flex-wrap: wrap;
	}

	.history__withdrawal-date {
		text-align: left;
	}

	.history__detail {
		padding-top: 4px;
		padding-bottom: 4px;
		column-gap: 10px;
	}
}
@include screens.screen('tablet') {
	.history__detail {
		flex-wrap: nowrap;
		& > strong {
			flex: 2;
		}
		& > span {
			flex: 5;
		}
	}
}
