@import '../../public/css/colors.scss';
@import '../../public/css/mixins.scss';
@import '../../public/css/screens.scss';

.styleDisplay {
	@include flex(column, center, center);
}

.modal {
	z-index: 1500;
	position: fixed;
	background: $modal-bg;
	inset: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
	width: 100vw;
}

.hidden {
	display: none !important;
}

.closeIcon {
	float: right;
	padding-top: 1rem;
	padding-right: 1rem;
	cursor: pointer;
}

.container {
	border-radius: 0.5rem;
	background-color: $base-white;
	min-height: 40%;
	min-width: 60%;
	overflow-y: auto;
	box-shadow: 0px 10px 30px $form-shadow;

	@include screen('tablet') {
		width: 90vw;
	}
}

.modalContent {
	padding: 2.875rem;
}

//onboarding guide modals

.onboardingGuideModal {
	z-index: 1500;
	position: fixed;
	background: $modal-bg;
	inset: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	// left: 14%;

	// @include screen('large') {
	// 	// left: 0;
	// 	// width: 100vw;
	// 	left: 20%;
	// }

	// @include screen('4k-large') {
	// 	left: 10%;
	// 	// width: 55vw;
	// }
}

.onboardingTooltip {
	position: absolute;
	// left:16px;
	// top:10%;
	width: 427px;
	// height: 196px;
	padding: 24px;
	border-radius: 8px;
	background-color: #f1fcf8;
	transition: all 0.5s linear;

	@include screen('medium') {
		display: none;
	}
}

.onboardingTooltipMobile {
	position: absolute;
	// left:16px;
	// top:10%;
	width: 354px;
	// height: 196px;
	padding: 24px;
	border-radius: 8px;
	background-color: #f1fcf8;
	transition: all 0.5s linear;
	display: none;

	@include screen('medium') {
		display: block;
	}
}

.toolTipTitleContainer {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.toolTipModalTitle {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #595959;
}

.toolTipText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}

.toolTipBtnContainer {
	display: flex;
	align-content: center;
}

.toolTipBtnText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	color: #595959;
}

.toolTipBtn {
	padding: 6px 20px;
	background: #ffffff;
	border: 0.5px solid #0072ef;
	border-radius: 8px;
	margin-right: 8px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #0072ef;
}

.toolTipNextBtn {
	padding: 6px 20px;
	background: #0072ef;
	border: 0.5px solid #0072ef;
	border-radius: 8px;
	margin-right: 8px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}

.toolTipCloseIcon {
	cursor: pointer;
}

.guideArrow {
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #f1fcf8;
	position: absolute;
	top: 5%;
	left: -6%;
}

.dashboardGuideArrow {
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #f1fcf8;
	position: absolute;
	top: -12%;
	left: 85%;
}

.guideArrowMobile {
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #f1fcf8;
	position: absolute;
	top: -13%;
	left: 3%;
}
