@import "../../styles//colors.scss";

.base-link {
	font-style: normal;
	font-weight: 300;
	font-size: 0.775rem;
	line-height: 1.5rem;
	color: $text-gray;
	text-decoration: none;
}

.footer {
	font-family: "Manrope", sans-serif;
	display: flex;
	justify-content: space-between;
	background-color: $dark-blue;
	padding: 6rem 10.31rem;
}

.brand {
	display: flex;
	flex-direction: column;
}

.brandTitle {
	cursor: pointer;
}

.brandContact {
	padding: 0.6rem 0;
	display: flex;
	align-items: center;

	a {
		@extend .base-link;
	}
}

.brandContactIcon {
	padding-right: 0.5rem;
	cursor: pointer;
}

.categoryTitle {
	color: $base-white;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.75rem;
	margin-bottom: 0.5rem;
}

.categoryLink {
	display: flex;
	flex-direction: column;

	a {
		@extend .base-link;
		padding-bottom: 0.5rem;
	}
}
