@import "../../styles//mixins.scss";
@import "../../styles//colors.scss";

.button {
	margin-bottom: 3rem;
}

.resetPasswordModal {
	@include flex(column, center, center);
	padding: 0 12rem;

	.image {
		cursor: pointer;
		margin-bottom: 1rem;
	}

	h5 {
		margin: 0;
		margin-bottom: 0.5rem;
		font-style: normal;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		color: $black-100;
		text-align: center;
	}

	p {
		margin: 0;
		margin-bottom: 2.5rem;
		text-align: center;
		font-style: normal;
		font-weight: 300;
		font-size: 0.9rem;
		line-height: 1.625rem;
		color: $base-gray;
		opacity: 0.6;
	}

	.button {
		margin-left: 2rem;
	}
}
