@import "../../public//css//colors.scss";
@import "../../public//css//screens.scss";
@import "../../public//css//mixins.scss";

.container{
    .bordered{
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        
    }
    .title{
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 32px;
        color: #262626;        
    }
    .subTitle{
        font-weight: 500;
        font-size: 1rem;
        line-height: 26px;
        color: #8C8C8C;        
    }
    .paymentIntegration{
        @extend .bordered;
        @include flex(row,null, null);
        padding: 2.5rem 2rem;
        margin-block-end: 2rem;
        .left{
            flex: 3;
            .paymentMethods{
                @include flex(row, null, null);
                gap: 1rem;
                margin-block-end: 1rem;
                .paymentMethodCard{
                    @extend .bordered;
                    @include flex(row, center, center);
                    cursor: pointer;
                    padding: .5rem;
                    font-weight: 700;
                    font-size: 1.25rem;
                    line-height: 33px;
                    color: #262626;                
                }
            }
            .status{
                text-transform: uppercase;
            }
            .reasonsHeader{
                font-weight: 700;
                font-size: 0.875rem;
                line-height: 20px;
                color: #262626;
                opacity: 0.6;
            }
            .reasonsContainer{
                @extend .bordered;
                width: 65%;
                min-height: 290px;
                padding: 2.5rem 2rem;
                .reasons{
                    .reason{
                        @include flex(row, null, center);
                        padding: .5rem;
                        gap: .5rem;
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 24px;
                        color: #595959;
                        
                        opacity: 0.6;
                        .number{
                            font-weight: 500;
                            font-size: 1.125rem;
                            line-height: 28px;
                            color: #0072EF;
                            &::after{
                                content: ". ";
                            }
                        }
                    }
                }
            }
        }
        .right{
            flex: 2;
        }
    }

    .steps{
        @extend .bordered;
        padding: 2.5rem 2rem;
        @include flex(row, center, null);
        position: relative;
        .stepsLeft{
            .top{
                @include flex(row, center, center);
                gap: 1rem;
                margin-bottom: 1rem;
                .advancedCardContainer{
                    .card{
                        @extend .bordered;
                        width: 230px;
                        padding: 2rem 1rem;
                        text-align: center;
                        p{
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 26px;
                            color: #0072EF;
                            margin-top: 1rem;                         
                        }
                    }
                }
                span{
                }
            }
            .bottom{
                width: 100%;
                h1{
                    text-align: center;
                }
                .checkboxLabel{
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 26px;
                    color: #8C8C8C;
                }
                .submitBtn{
                    position: relative;
                    margin-top: 1rem;
                    left: 37%;
                    width: 180px;
                    height: 52px;
                    display: block;
                }
            }
        }
        .stepsRight{
            .arrowContainer{
                position: relative;
                top: 8rem;                
            }
        }
    }
}

