@import '../../public//css//colors.scss';
@import '../../public//css//screens.scss';
@import '../../public//css//mixins.scss';

.btnStyle {
	width: 100%;
	font-size: 12px;
	height: 2.3rem;
}

.modal {
	border-radius: 0.5rem;
	width: 50%;

	@include screen('tablet') {
		width: 90%;
	}
}

.tabContainer {
	display: flex;
	justify-content: center;
}

.tabSelect {
	display: flex;
	justify-content: space-between;
	// margin-top: 3.187rem;
	@include screen('medium') {
		flex-direction: column;
	}

	.tab {
		button {
			width: 9rem;
			height: 2.5rem;
			background-color: transparent;
			border-radius: 0.5rem;
			cursor: pointer;
			border: 0.5px solid $blue-600;
			color: $gray-200;
			font-size: 0.8rem;
			line-height: 1.625rem;
		}

		.activeBtn {
			background-color: $base-blue;
			color: $base-white;
		}

		.btn1 {
			border-right: none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.btn2 {
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.select {
		margin-left: 3.75rem;
		width: 5rem;
		@include screen('medium') {
			padding-top: 1.5rem;
			margin: auto;
		}
	}
}

.cancelSubscription {
	font-weight: 500;
	font-size: 1rem;
	line-height: 26px;
	color: #000000;
	@include flex(row, center, center);
	span {
		color: #0072ef !important;
		cursor: pointer;
	}
}

.charLimit {
	color: red;
	font-size: 0.7rem;
	margin-left: 0.6rem;
	font-weight: bold;
	transition: all 0.2s;
}

.affilateInput {
	// width: 15%;
	position: relative;

	// border: 1px solid blue;
	input {
		width: 100%;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield;
	}

	span {
		width: 25%;
		position: absolute;
		right: 0;
		top: 0;
		height: 71%;
		background: #0072ef;
		color: #ffffff;
		border-radius: 0 8px 8px 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
