
.PoweredByKS{
		padding-block: 1rem;
		p {
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: #595959;
		}
	}