@use "public/css/colors";

.success__modal span[class^="anticon"] > svg {
  font-size: 25px;
}

.header {
  margin: 20px 0 40px;

  > div {
    width: 80px;
    margin: 0 auto;
  }
}

.content {
  text-align: center;

  p {
    margin-bottom: 0;

    &:first-child > span[class="ant-typography"] {
      font-size: 24px;
      font-weight: bold;
      color: colors.$black-100;
    }

    &:last-child > span[class="ant-typography"] {
      font-size: 14px;
      color: colors.$gray-200;
    }
  }
}
