* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.ant-modal-content {
  background-image: url("../public/images/partial-general-bg.svg") !important;
  background-position: 8% 20%;
  height: 100%;
  background-repeat: repeat-x;
  border-radius: 5px !important;
  box-shadow: 1px 2px 3px grey;
  /* border: 1px solid red !important; */
  /* background-color: unset !important; */
}

.ant-modal-confirm-body .anticon.anticon-check-circle,
.ant-modal-confirm-body .anticon.anticon-close-circle {
  position: relative;
  /* top: 20px; */
  font-size: 3rem;
  /* color: #0072ef; */
}

.ant-modal-content .ant-modal-confirm-btn {
  text-align: center !important;
}
.ant-btn.ant-btn-primary {
  border: 1px solid transparent;
  background-color: #0072ef !important;
  transition: all 0.2s;
  border-radius: 5px !important;
}

.ant-btn.ant-btn-primary:hover {
  border: 1px solid #0072ef !important;
  color: #fff !important;
  background-color: #0072ef !important;
}

.ant-btn.ant-btn-primary:active {
  background-color: #2dc071 !important;
  color: #fff !important;
  border: 1px solid transparent !important;
}

/* .ant-modal-confirm-title h1 {

} */
