@use "public/css/colors";
@use "public/css/mixins";

.header {
  margin-bottom: 30px;
  @include mixins.flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 15px;

  a {
    display: inline-flex;
    padding: 16px 30px;
    background-color: colors.$base-blue;
    border-radius: 8px;
    color: colors.$base-white;
    font-weight: bold;
    font-size: 12px;
  }

  svg {
    display: inline;
    font-size: 14px;
  }
}

.mail__wrapper {
  border: 1px solid colors.$gray-100;
  border-radius: 8px;
  padding: 40px 20px;

  > a {
    display: inline-flex;
    padding: 16px 30px;
    border-radius: 8px;
    border: 1px solid colors.$base-blue;
    color: colors.$base-blue;
    font-weight: 700;
    font-size: 12px;
  }

  svg {
    display: inline;
    font-size: 14px;
  }
}

.mails__container {
  margin-bottom: 40px;
}

.mail {
  padding-bottom: 15px;
  border-bottom: 1px solid colors.$gray-100;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;

    &:first-child {
      color: colors.$base-gray;
    }

    &:last-of-type {
      color: colors.$gray-200;
    }
  }
}

.actions {
  @include mixins.flex(row, flex-start, center);
  gap: 15px 30px;

  > a {
    font-weight: bold;
    font-size: 14px;

    &:first-child {
      color: colors.$base-blue;
    }

    &:last-child {
      color: colors.$green-100;
    }
  }
}
