@use "public/css/colors";
@use "public/css/screens";

.card {
  margin-bottom: 80px;
  border-radius: 12px;
}

.error__message {
  text-align: center;
  font-weight: bold;
}

.header {
  margin-bottom: 30px;

  > h1[class="ant-typography"] {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
  }
}

.campaign__wrapper {
  border: 1px solid colors.$gray-100;
  border-radius: 8px;
  padding: 40px 20px;
  margin-bottom: 35px;

  > a {
    display: inline-flex;
    padding: 16px 30px;
    border-radius: 8px;
    border: 1px solid colors.$base-blue;
    color: colors.$base-blue;
    font-weight: 700;
    font-size: 12px;
  }

  svg {
    display: inline;
    font-size: 14px;
  }
}

.campaigns__container {
  margin-bottom: 40px;
}

@include screens.screen("medium-large") {
  .card {
    background-color: transparent;
    border: none;

    > div[class="ant-card-body"] {
      padding: 0;
    }
  }
}

@include screens.minScreen("medium-large") {
  .campaign__wrapper {
    padding: 40px;
  }
}
