@use 'public/css/mixins';
@use 'public/css/screens';

.email__tag {
	@include mixins.flex(column, space-between, flex-start);

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	button[class^='ant-btn'] {
		margin-bottom: 10px;
	}

	> [class='ant-typography'] {
		padding-right: 15px;
	}
}

@include screens.minScreen('medium-large') {
	.email__tag {
		flex-direction: row;
		align-items: center;

		button[class^='ant-btn'] {
			margin-bottom: 0;
		}
	}
}
