@import '../../public//css/colors.scss';
@import '../../public//css/mixins.scss';
@import '../../public//css/screens.scss';

.miniSaveButtons {
	button {
		border-radius: 8px;
		text-align: center;
		font-weight: 500;
		padding: 1.2em 1em;
		div {
			margin-right: 5px;
		}
	}
	button:not(:last-child) {
		margin-right: 13px;
	}
	& > button:first-child {
		background-color: transparent !important;
	}
}
.contentContainer {
	// width: 85%;
	margin: 9rem auto 0 auto;
	padding: 1rem;
	// border: 10px solid red;

	@media (min-width: 500px) {
		padding: 72px 60px;
		width: 85%;
	}
}

.select {
	border: 1px solid;
	@include screen('medium') {
		width: 30%;
	}
}

.previewContainer {
	@include screen('medium') {
		flex-direction: column;
	}
}
.imageGallery {
	border-radius: 8px;

	max-width: 678px;
	height: 780px;
	border: 2px solid $white-300;
	display: grid;
	grid-template-rows: 600px 124px;
	grid-template-columns: 1fr;
	grid-gap: 21px;
	padding: 15px;
	// border: 1px solid red;
	@include screen('medium') {
		max-width: 100%;
		grid-template-rows: 600px 124px;
	}
}
.subImages {
	display: grid;
	grid-template-columns: 124px 124px 124px 1fr;
	grid-gap: 10px;

	& > div {
		width: 100%;
		height: 100%;
		border-radius: 8px;
		position: relative;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: overlay;

		img {
			border-radius: 8px;
		}
	}
}
.description {
	// flex: 1;
	//   margin-left: 21px;
	height: 780px;
	border: 2px solid $white-300;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 2.5em 2em;
	width: 100%;

	// @media (max-width: 500px) {
	h2 {
		font-size: 1.2rem !important;
		// color: red !important;
	}
	// }

	// @media (max-width: 400px) {

	// }

	@media (max-width: 768px) {
		p {
			font-size: 1.4rem;
		}
	}

	@include screen('medium') {
		width: 100%;
		// border-bottom: 2px solid transparent;
	}
	@media (min-width: 1300px) {
		margin-left: 21px;
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 2.4rem;
		}
		p {
			font-size: 1.8rem;
		}
	}
}
.mainImage {
	width: 100%;

	//   width: 100px;
	//   border: 1px solid red;
	height: 100%;
	position: relative;
	img {
		border-radius: 8px;
		object-fit: cover;
	}

	@media (max-width: 500px) {
		max-width: 100%;
		min-height: 100%;
		img {
			object-fit: cover !important;
			overflow: hidden;
		}
	}
}
.dp {
	width: 100px;
	height: 100px;
	position: relative;
	img {
		border-radius: 8px;
	}
}
.visitLink {
	display: flex;
	align-items: center;
	background-color: $blue-100;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
	a {
		color: $base-blue;
		margin-right: 8px;
	}
}
.padBottom {
	border-bottom: 2px solid $white-300;
	padding-bottom: 1.5em;
}
.padBottom1 {
	border-bottom: 1px solid $white-300;
	padding-bottom: 1.5em;
}
.availabilityStatusContainer {
	.availabilityStatus {
		width: fit-content;
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 26px;
		padding: 0.2rem 0.5rem;
	}
	.outOfStock {
		background: rgba(255, 77, 69, 0.1);
		color: #f90005;
	}
	.inStock {
		background: #f1fcf8;
		color: #00b140;
	}
}
.desc {
	flex: 1;
	margin-top: 3rem;
	overflow-y: auto;
	// border: 1px solid red;

	@media (max-width: 768px) {
		h2 {
			font-size: 1.8rem !important;
		}
		p {
			font-size: 1.5rem !important;
		}
	}
	@media (max-width: 500px) {
		h2 {
			font-size: 1.5rem !important;
			// color: red;
		}
		p {
			font-size: 0.95rem !important;
		}
	}
	p {
		color: $base-gray;
	}
}
.preorderInfo {
	background: #fff6dd;
	padding: 1rem 1.5rem;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 24px;
	color: #595959;
	p {
		@media (max-width: 768px) {
			font-size: 0.9rem;
		}
	}
}
.active {
	border: 1.5px solid $black-100;
}
.imageControl {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 14px;
	span {
		width: 48px;
		height: 48px;
		border-radius: 6px;
		background-color: $white-300;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	& span:not(:last-child) {
		margin-right: 24px;
	}
}

.priceSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid $white-300;
	padding-top: 2.5em;
	// overflow-y: auto;
	min-height: 80px;
	// border: 1px solid red;
	> div {
		@media (max-width: 500px) {
			font-size: 1.7rem;
			// padding: 2.4rem;
		}
	}

	button {
		padding: 1.5rem;
		border-radius: 8px;
		font-weight: 600;
		@media (max-width: 500px) {
			font-size: 1.7rem;
			padding: 2.4rem;
		}
	}

	// h1 {
	//   font-size: 0.9rem;
	// }
	// h2 {
	//   font-size: 0.8rem;
	// }
	// @media (min-width: 400px) {
	//   h1 {
	//     font-size: unset;
	//   }
	//   h2 {
	//     font-size: unset;
	//   }
	// }
}
.publishModal {
	margin: 0 auto;
	width: 90%;
	margin-top: 1.5em;
	& > h2 {
		text-align: center;
	}

	.copyInput {
		position: relative;
		width: 100%;

		input {
			width: 100%;
			border: 2px solid $base-blue !important;
		}
		span {
			width: 10%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $base-blue;
			border-radius: 0 8px 8px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid $base-blue;
		}
	}
	.submitBtn {
		width: 90%;
		margin: 1.5em auto 0;
		button {
			padding: 1.5em;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.failedBtn {
		width: 50%;
		margin: 1.5em auto 0;
		button {
			padding: 1.5em;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $base-white;
			color: $error-main;
		}
	}
	.publishImage {
		width: 250px;
		height: 150px;
		position: relative;
	}
}

.previewPageContainer {
	min-width: 100% !important;
	// box-sizing: border-box;
	// margin: 0;
	// padding: 0;
	// width: 100%;

	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	min-width: 100vw !important;
	// border: 1px solid red;

	@media (min-width: 320px) {
		// transform: translateX(20%);
	}

	@media (min-width: 433px) {
		transform: translateX(0%);
	}

	.previewContainer {
		display: flex;
		flex-direction: column;
		@media (min-width: 1300px) {
			flex-direction: row;
		}
	}
}

.mobileLeft {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;

	// &.isPreviewMain {
	// 	// border: 1px solid red;
	// }
	p {
		margin-left: 37.33px;
		margin-right: 1rem;
		text-overflow: ellipsis;
		max-width: 290px;
		white-space: nowrap;
		overflow: hidden;
	}

	svg {
		// width: 100% !important;
		height: 50px !important;
		font-size: 4rem !important;
	}
	button {
		width: 40px !important;
		// border: 1px solid red;
		height: 50px !important;
		svg {
			width: 100% !important;
			height: 50px !important;
			font-size: 4rem !important;
		}
	}

	.btns {
		// flex: 4.5;
		.btnOne {
			margin-right: 0.5rem !important;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 0.5rem !important;
			@media (min-width: 507px) {
				margin-bottom: unset;
			}
		}
	}
	@media (min-width: 650px) {
		display: none;
	}

	@media (max-width: 650px) {
		& + .miniSaveButtons {
			display: none;
		}
	}
}

.lgLeft {
	@media (max-width: 650px) {
		display: none;
	}
}

.more {
	h2 {
		margin-top: 4rem !important;
		// border: 1px solid red !important;
		@media (max-width: 768px) {
			font-size: 1.8rem;
		}
	}

	.moreDetails {
		margin-bottom: 6rem !important;
		font-weight: normal;
		@media (max-width: 768px) {
			font-size: 1.3rem;
		}
	}
}

.mobileMenu {
	width: 100%;
	// border: 1px solid red;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.btnBox {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button,
	button:first-child {
		width: 100% !important;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bolder;
		border-radius: 8px !important;
	}

	button:first-child {
		// width: 100% !important;
		margin-right: 0.5rem;
		width: 100px !important;
	}
	// @include flex(row, flex-start, center);

	// button {
	// 	margin-right: 10px;

	// 	svg {
	// 		font-size: 30px;
	// 	}
	// }
}

.mobileLoginLink {
	display: block;
	// border: 1px solid red;
	// width: 100%;
	align-self: flex-end;
	height: 100%;
	text-align: right;
	.loginBtn {
		width: 100%;
		// border: 1px solid red;
		display: block;
	}
}

.mobileLoginLink.showLogin {
	display: block;

	@media (min-width: 651px) {
		display: none;
	}
}

.selectAndButtons {
	display: flex;
	align-items: center;
	.btns {
		display: flex;
		align-items: center;
		& button:first-child {
			margin-right: 0.5rem;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}

.desktopSearch {
	// border: 1px solid red;
	display: flex;
	padding: 5px 19px;
	width: 324px;
	align-items: center;
	background: #ffffff;
	/* Gray / gray-5 BORDER */

	border: 1px solid #d9d9d9;
	border-radius: 8px;
	svg {
		font-size: 1.3rem !important;
	}
	input {
		margin-left: 11.51px;
	}
	@media (max-width: 650px) {
		display: none;
	}
}

.mobileSearch {
	@media (min-width: 650px) {
		display: none;
	}
}

.header {
	// position: relative;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// border: 1px solid red;
	z-index: 2000;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
	.mobileLeft {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}
	.mobileDropView {
		top: 90px;
		position: relative;
		margin-top: 2rem;
		min-height: 100vh;
		// border: 10px solid red !important;
	}
}

.lgOnly {
	display: flex;
	align-items: center;
	width: 100%;
	// @media (max-width: 651px) {
	// 	display: none;
	// }
}

.Init {
	width: 100%;
	// position: relative;
	// right: 40px;
	display: flex;
	align-items: center;
}
